// Body resets
//
// Update the foundational and global aspects of the page.

@font-face { font-family: Player2; src: url('https://fonts.google.com/specimen/Press+Start+2P'); }

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  text-size-adjust: 100%;
}

main,
article,
section {
  display: block;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  border-radius: 5px;
  display: block;
  height: auto; // prevent max-width from squishing images with defined height
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border: 1px solid $border-color;
  border-collapse: collapse;
  font-size: 85%;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid $border-color;
  padding: 0.25rem 0.5rem;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $gray-1;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='submit'] {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $padding-v $padding-h;
}

select {
  display: block;
  font-family: inherit;
  font-size: $root-small-font-size;
  color: inherit;
  width: 175px;
}

.kit_description {
  font-size: $root-small-font-size;
}

.skill_holder {
  text-align: center;
  padding: 0;
  width: 50%;
  // font-size: inherit;
  // font-family: inherit;
}

.kits_table {
  font-size: $root-small-font-size;
}

.character_name {
  font-size: $root-font-size;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  /* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
  font-weight: bold;
  margin-bottom: $padding-v;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

} 

/* Style the character sheet */
.character_sheet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  // grid-auto-rows: minmax(100px, auto);
}

.character_name {
  grid-column: 1;
  grid-row: 1;
}

.character_class {
  grid-column: 3 / -1;
  grid-row: 1;
}

.health_header {
  grid-column: 1 / 2;
  grid-row: 2;
}

.physical_health_text {
  grid-column: 1;
  grid-row: 3;
}

.mental_health_text {
  grid-column: 1;
  grid-row: 4;
}

.physical_health_track {
  grid-column: 2;
  grid-row: 3;
}

.mental_health_track {
  grid-column: 2;
  grid-row: 4;
}

.fortune_point_text {
  grid-column: 3;
  grid-row: 3;
}

.prep_point_text {
  grid-column: 3;
  grid-row: 4;
}

.fortune_point_track {
  grid-column: 4;
  grid-row: 3;
}

.prep_point_track {
  grid-column: 4;
  grid-row: 4;
}

.skills_header {
  grid-column: 1 / 2;
  grid-row: 5;
}

.perception_text {
  grid-column: 1;
  grid-row: 6;
}

.perception_value {
  grid-column: 2;
  grid-row: 6;
}

.knowledge_text {
  grid-column: 1;
  grid-row: 7;
}

.knowledge_value {
  grid-column: 2;
  grid-row: 7;
}

.physique_text {
  grid-column: 1;
  grid-row: 8;
}

.physique_value {
  grid-column: 2;
  grid-row: 8;
}

.bravery_text {
  grid-column: 1;
  grid-row: 9;
}

.bravery_value {
  grid-column: 2;
  grid-row: 9;
}

.aura_text {
  grid-column: 3;
  grid-row: 6;
}

.aura_value {
  grid-column: 4;
  grid-row: 6;
}

.focus_text {
  grid-column: 3;
  grid-row: 7;
}

.focus_value {
  grid-column: 4;
  grid-row: 7;
}

.agility_text {
  grid-column: 3;
  grid-row: 8;
}

.agility_value {
  grid-column: 4;
  grid-row: 8;
}

.cunning_text {
  grid-column: 3;
  grid-row: 9;
}

.cunning_value {
  grid-column: 4;
  grid-row: 9;
}

.kit_header {
  grid-column: 1 / 2;
  grid-row: 10;
}

.kit_chooser_01 {
  grid-column:1;
  grid-row: 11;
}

.kit_text_01 {
  grid-column: 2 / -1;
  grid-row: 11;
}

.kit_chooser_02 {
  grid-column:1;
  grid-row: 12;
}

.kit_text_02 {
  grid-column: 2 / -1;
  grid-row: 12;
}

.kit_chooser_03 {
  grid-column:1;
  grid-row: 13;
}

.kit_text_03 {
  grid-column: 2 / -1;
  grid-row: 13;
}

.kit_chooser_04 {
  grid-column:1;
  grid-row: 14;
}

.kit_text_04 {
  grid-column: 2 / -1;
  grid-row: 14;
}

// .skill_holder {
//   font-family: Player2 $root-font-family;
// }