<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Magic</th>
      <th>Techniques</th>
      <th>Alchemy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Passive</strong></td>
      <td>Cantrips</td>
      <td>Attack Effects</td>
      <td>Items</td>
    </tr>
    <tr>
      <td><strong>Active</strong></td>
      <td colspan="3" align="center">Amplify/Combine</td>
    </tr>
    <tr>
      <td><strong>Activation Cost</strong></td>
      <td>Mana Point</td>
      <td>Fortune/Prep Point</td>
      <td>Charge Point</td>
    </tr>
  </tbody>
</table>
