<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Magic</th>
            <th>Techniques</th>
            <th>Alchemy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Passive</strong></td>
            <td>Cantrips</td>
            <td>Attack Effects</td>
            <td>None</td>
        </tr>
        <tr>
            <td><strong>Active</strong></td>
            <td>Combine</td>
            <td>Amplify/Combine</td>
            <td>Items</td>
        </tr>
        <tr>
            <td><strong>Activation Cost</strong></td>
            <td>Mental Health Box</td>
            <td>Fortune/Prep Point</td>
            <td>Alchemy Charge</td>
        </tr>
    </tbody>
</table>
