<h3>Alchemist</h3>
<table>
  <thead>
    <td><b>Specialization</b></td>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Class == "Alchemist" %}
  <tr>
    <td>{{ row.Type }}</td>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Soldier</h3>
<table>
  <thead>
    <td><b>Specialization</b></td>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Class == "Soldier" %}
  <tr>
    <td>{{ row.Type }}</td>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Mage</h3>
<table>
  <thead>
    <td><b>Specialization</b></td>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Class == "Mage" %}
  <tr>
    <td>{{ row.Type }}</td>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Scoundrel</h3>
<table>
  <thead>
    <td><b>Specialization</b></td>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Class == "Scoundrel" %}
  <tr>
    <td>{{ row.Type }}</td>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Advanced</h3>
<table>
  <thead>
    <td><b>Specialization</b></td>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Class == "Advanced" %}
  <tr>
    <td>{{ row.Type }}</td>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>
