<h3>Assassin</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kit %} {% if row.Type == "Assassin" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Bard</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kit %} {% if row.Type == "Bard" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Ranger</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kit %} {% if row.Type == "Ranger" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>
