<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr>
    <td>-2</td>
    <td>Buffoon</td>
  </tr>
  <tr>
    <td>-1</td>
    <td>Incompetent</td>
  </tr>
  <tr>
    <td>+0</td>
    <td>Mediocre</td>
  </tr>
  <tr>
    <td>+1</td>
    <td>Proficient</td>
  </tr>
  <tr>
    <td>+2</td>
    <td>Trained</td>
  </tr>
  <tr>
    <td>+3</td>
    <td>Expert</td>
  </tr>
  <tr>
    <td>+4</td>
    <td>Master</td>
  </tr>
  <tr>
    <td>+5</td>
    <td>Olympic</td>
  </tr>
</table>
