<table>
    <thead>
        <tr>
            <th>Skill</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.alchemist_color }}"
                        >Perception</span
                    ></strong
                >
            </td>
            <td>Awareness, investigation, precision shooting.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.alchemist_color }}"
                        >Knowledge</span
                    ></strong
                >
            </td>
            <td>General know-how, rhetoric, and proficiency in alchemy.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.soldier_color }}"
                        >Bravery</span
                    ></strong
                >
            </td>
            <td>Willpower, intimidation, and courage.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.soldier_color }}"
                        >Strength</span
                    ></strong
                >
            </td>
            <td>Strength, martial arts, and physical health.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.mage_color }}"
                        >Magic</span
                    ></strong
                >
            </td>
            <td>
                Rapport with spirits, supernatural charisma, and talent in
                magic.
            </td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.mage_color }}"
                        >Focus</span
                    ></strong
                >
            </td>
            <td>Concentration, sixth sense, and mental fortitude.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.scoundrel_color }}"
                        >Cunning</span
                    ></strong
                >
            </td>
            <td>Stealth, misdirection, and danger sense.</td>
        </tr>
        <tr>
            <td>
                <strong
                    ><span style="color: {{ site.scoundrel_color }}"
                        >Agility</span
                    ></strong
                >
            </td>
            <td>Mobility, evasion, and reaction time.</td>
        </tr>
    </tbody>
</table>
