<h3>Blademaster</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Type == "Blademaster" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Knight</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Type == "Knight" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>

<hr />

<h3>Myrmidon</h3>
<table>
  <thead>
    <td><b>Kit</b></td>
    <td><b>Description</b></td>
  </thead>
  {% for row in site.data.miracuse_kits %} {% if row.Type == "Myrmidon" %}
  <tr>
    <td><b>{{ row.Kit }}</b></td>
    <td>{{ row.Description }}</td>
  </tr>
  {% endif %} {% endfor %}
</table>
