[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
  visibility: hidden;
  position: relative;
  //   top: 2rem;
  //   left: 2rem;
  background: black;
  color: white;
  z-index: 1;
}
[aria-describedby]:hover,
[aria-describedby]:presence {
  position: relative;
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:presence + [role="tooltip"] {
  visibility: visible;
}

.character_sheet {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 5px;

  @include mq(md) {
    grid-template-columns: repeat(4, 25%);
    row-gap: 10px;
  }

  // UI Styling /////////////////////////////////////////////////////////////
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="submit"],
  input[type="number"] {
    border: 1px solid $border-color;
    max-width: 95%;
    // padding: $padding-v $padding-h;

    @include mq(md) {
      max-width: 90%;
    }
  }

  select {
    display: block;
    // font-family: $body-font-family;
    font-size: $font-size-4;
    color: inherit;
    // width: 175px;
    max-width: 95%;
    min-width: 95%;
    height: 1.5rem;
    border: 1px solid $border-color;

    @include mq(md) {
      max-width: 90%;
      min-width: 90%;
      height: 1.25rem;
    }
  }

  p {
    margin: 0;
  }

  #class_select,
  #subclass_select_01 {
    font-size: $font-size-4;
  }

  .kit_description,
  .kit_tags,
  .character_class_description_text,
  .character_specialization_description_text {
    vertical-align: top;
    font-size: $font-size-4;
  }

  .kit_tags {
    font-style: italic;
  }

  .skill_holder {
    text-align: center;
    padding: 0;
    width: 100px;
    max-width: 50%;
    font-weight: bold;
    // font-size: inherit;
    // font-family: inherit;
  }

  .kits_table {
    font-size: $font-size-4;
  }

  // Mobile Layout ////////////////////////////////////////////////////////////
  // Grid: Character Info ///////////////////////////////////////////////////
  .character_info_header {
    grid-column: 1 / -1;
    grid-row: 1;
    font-weight: bold;
  }

  .character_class_text {
    grid-column: 1;
    grid-row: 2;
  }

  .character_class {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .character_class_description_text {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  // Grid: Subclasses ///////////////////////////////////////////////////////
  .subclass_header {
    grid-column: 1 / -1;
    grid-row: 5;
    font-weight: bold;
  }

  .character_subclass_01 {
    grid-column: 1 / -1;
    grid-row: 6;
  }

  .character_specialization_description_text {
    grid-column: 1 / -1;
    grid-row: 7;
  }

  .barrier_01 {
    grid-column: 1 / -1;
    grid-row: 8;
    hr {
      margin: 1rem 0;
    }
  }

  // Grid: Health ///////////////////////////////////////////////////////////
  .health_header {
    grid-column: 1 / -1;
    grid-row: 9;
    font-weight: bold;
  }

  .physical_health_text {
    grid-column: 1;
    grid-row:10;
  }

  .physical_health_track {
    grid-column: 2;
    grid-row: 10;
  }

  .mental_health_text {
    grid-column: 1;
    grid-row: 11;
  }

  .mental_health_track {
    grid-column: 2;
    grid-row: 11;
  }

  // Grid: Resources ////////////////////////////////////////////////////////
  .resources_header {
    grid-column: 1 / -1;
    grid-row: 12;
  }

  .potion_text {
    grid-column: 1;
    grid-row: 13;
  }

  .potion_track {
    grid-column: 2;
    grid-row: 13;
  }

  .mana_text {
    grid-column: 1;
    grid-row: 14;
  }

  .mana_track {
    grid-column: 2;
    grid-row: 14;
  }

  .fortune_text {
    grid-column: 1;
    grid-row: 15;
  }

  .fortune_track {
    grid-column: 2;
    grid-row: 15;
  }

  .trick_text {
    grid-column: 1;
    grid-row: 16;
  }

  .trick_track {
    grid-column: 2;
    grid-row: 16;
  }

  // Grid: Skills ///////////////////////////////////////////////////////////
  .skills_header {
    grid-column: 1 / 2;
    grid-row: 17;
  }

  .perception_text {
    grid-column: 1;
    grid-row: 18;

    label span {
      font-weight: bold;
      color: $alchemist_color;
    }
  }

  .perception_value {
    grid-column: 2;
    grid-row: 18;
  }

  .knowledge_text {
    grid-column: 1;
    grid-row: 19;

    label span {
      font-weight: bold;
      color: $alchemist_color;
    }
  }

  .knowledge_value {
    grid-column: 2;
    grid-row: 19;
  }

  .strength_text {
    grid-column: 1;
    grid-row: 20;

    label span {
      font-weight: bold;
      color: $soldier_color;
    }
  }

  .strength_value {
    grid-column: 2;
    grid-row: 20;
  }

  .bravery_text {
    grid-column: 1;
    grid-row: 21;

    label span {
      font-weight: bold;
      color: $soldier_color;
    }
  }

  .bravery_value {
    grid-column: 2;
    grid-row: 21;
  }

  .magic_text {
    grid-column: 1;
    grid-row: 22;

    label span {
      font-weight: bold;
      color: $mage_color;
    }
  }

  .magic_value {
    grid-column: 2;
    grid-row: 22;
  }

  .presence_text {
    grid-column: 1;
    grid-row: 23;

    label span {
      font-weight: bold;
      color: $mage_color;
    }
  }

  .presence_value {
    grid-column: 2;
    grid-row: 23;
  }

  .agility_text {
    grid-column: 1;
    grid-row: 24;

    label span {
      font-weight: bold;
      color: $scoundrel_color;
    }
  }

  .agility_value {
    grid-column: 2;
    grid-row: 24;
  }

  .cunning_text {
    grid-column: 1;
    grid-row: 25;

    label span {
      font-weight: bold;
      color: $scoundrel_color;
    }
  }

  .cunning_value {
    grid-column: 2;
    grid-row: 25;
  }

  .barrier_02 {
    grid-column: 1 / -1;
    grid-row: 26;
    hr {
      margin: 1rem 0;
    }
  }

  // Grid: Kits /////////////////////////////////////////////////////////////
  .kit_header {
    grid-column: 1 / -1;
    grid-row: 27;
  }

  .kit_chooser_01 {
    grid-column: 1 / -1;
    grid-row: 28;
  }

  .kit_text_01 {
    grid-column: 1 / -1;
    grid-row: 29;
  }

  .kit_chooser_02 {
    grid-column: 1 / -1;
    grid-row: 30;
  }

  .kit_text_02 {
    grid-column: 1 / -1;
    grid-row: 31;
  }

  .kit_chooser_03 {
    grid-column: 1 / -1;
    grid-row: 32;
  }

  .kit_text_03 {
    grid-column: 1 / -1;
    grid-row: 33;
  }

  .kit_chooser_04 {
    grid-column: 1 / -1;
    grid-row: 34;
  }

  .kit_text_04 {
    grid-column: 1 / -1;
    grid-row: 35;
  }

  // Desktop Layout /////////////////////////////////////////////////////////
  @include mq(md) {
    // Grid: Character Info ///////////////////////////////////////////////////
    .character_info_header {
      grid-column: 1;
      grid-row: 1;
      font-weight: bold;
    }

    .character_class {
      grid-column: 1;
      grid-row: 2;
    }

    .character_tier_text {
      grid-column: 1;
      grid-row: 3;
    }

    .character_tier {
      grid-column: 2;
      grid-row: 3;
    }

    .character_class_description_text {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
    }

    // Grid: Subclasses ///////////////////////////////////////////////////////
    .subclass_header {
      grid-column: 1 / 2;
      grid-row: 5;
      font-weight: bold;
    }

    .character_subclass_01 {
      grid-column: 1;
      grid-row: 6;
    }

    .character_specialization_description_text {
      grid-column: 2 / -1;
      grid-row: 6 / 8;
    }

    .barrier_01 {
      grid-column: 1 / -1;
      grid-row: 8;
      hr {
        margin: 1rem 0;
      }
    }

    // Grid: Health ///////////////////////////////////////////////////////////
    .health_header {
      grid-column: 1 / -1;
      grid-row: 9;
      font-weight: bold;
    }

    .physical_health_text {
      grid-column: 1;
      grid-row: 10;
    }

    .physical_health_track {
      grid-column: 2;
      grid-row: 10;
    }

    .mental_health_text {
      grid-column: 3;
      grid-row: 10;
    }

    .mental_health_track {
      grid-column: 4;
      grid-row: 10;
    }

    // Grid: Resources ////////////////////////////////////////////////////////
    .resources_header {
      grid-column: 1;
      grid-row: 11;
    }

    .potion_text {
      grid-column: 1;
      grid-row: 12;
    }

    .potion_track {
      grid-column: 2;
      grid-row: 12;
    }

    .mana_text {
      grid-column: 3;
      grid-row: 12;
    }

    .mana_track {
      grid-column: 4;
      grid-row: 12;
    }

    .fortune_text {
      grid-column: 1;
      grid-row: 13;
    }

    .fortune_track {
      grid-column: 2;
      grid-row: 13;
    }

    .trick_text {
      grid-column: 3;
      grid-row: 13;
    }

    .trick_track {
      grid-column: 4;
      grid-row: 13;
    }

    // Grid: Skills ///////////////////////////////////////////////////////////
    .skills_header {
      grid-column: 1 / 2;
      grid-row: 14;
    }

    .perception_text {
      grid-column: 1;
      grid-row: 15;
    }

    .perception_value {
      grid-column: 2;
      grid-row: 15;
    }

    .knowledge_text {
      grid-column: 1;
      grid-row: 16;
    }

    .knowledge_value {
      grid-column: 2;
      grid-row: 16;
    }

    .strength_text {
      grid-column: 1;
      grid-row: 17;
    }

    .strength_value {
      grid-column: 2;
      grid-row: 17;
    }

    .bravery_text {
      grid-column: 1;
      grid-row: 18;
    }

    .bravery_value {
      grid-column: 2;
      grid-row: 18;
    }

    .magic_text {
      grid-column: 3;
      grid-row: 15;
    }

    .magic_value {
      grid-column: 4;
      grid-row: 15;
    }

    .presence_text {
      grid-column: 3;
      grid-row: 16;
    }

    .presence_value {
      grid-column: 4;
      grid-row: 16;
    }

    .agility_text {
      grid-column: 3;
      grid-row: 17;
    }

    .agility_value {
      grid-column: 4;
      grid-row: 17;
    }

    .cunning_text {
      grid-column: 3;
      grid-row: 18;
    }

    .cunning_value {
      grid-column: 4;
      grid-row: 18;
    }

    .barrier_02 {
      grid-column: 1 / -1;
      grid-row: 19;
      hr {
        margin: 1rem 0;
      }
    }

    // Grid: Kits /////////////////////////////////////////////////////////////
    .kit_header {
      grid-column: 1 / 2;
      grid-row: 20;
    }

    .kit_chooser_01 {
      grid-column: 1;
      grid-row: 21;
    }

    .kit_text_01 {
      grid-column: 2 / -1;
      grid-row: 21;
    }

    .kit_chooser_02 {
      grid-column: 1;
      grid-row: 22;
    }

    .kit_text_02 {
      grid-column: 2 / -1;
      grid-row: 22;
    }

    .kit_chooser_03 {
      grid-column: 1;
      grid-row: 23;
    }

    .kit_text_03 {
      grid-column: 2 / -1;
      grid-row: 23;
    }

    .kit_chooser_04 {
      grid-column: 1;
      grid-row: 24;
    }

    .kit_text_04 {
      grid-column: 2 / -1;
      grid-row: 24;
    }
  }
}
