---
layout: default-gm
---
<h1 id="frequently-asked-questions">Frequently Asked Questions</h1>

<button class="accordion">When do I, as the GM, roll dice?</button>

<div class="panel">
  <p>
    Very rarely. Miracuse is designed so that most rolls are done by the players against some level of opposition. 
  </p>
</div>

<button class="accordion">
  How do I set difficulty levels?
</button>

<div class="panel">
  <p>
    Think about what makes narrative sense. Then consult the Skill Ladder. Is this something that a Proficient (+1) person could do? How about someone Trained (+2) for this sort of task? The <a href="https://docs.google.com/spreadsheets/d/1wxh7dnNsPwu2GWNAlKc6xBhLHH4P1KA8cSo2YKU2nww/edit#gid=416188722">GM Helper Sheets</a> go into more detail on this.
  </p>
</div>

<button class="accordion">
  Why does the game system do XYZ this way and not that way?
</button>

<div class="panel">
  <p>
    Wherever possible I've tried to have every decision in Miracuse refer back to a set of <a href="https://docs.google.com/spreadsheets/d/1KnDiDKgTnVuIRpurhtvs6v_3UMX38hl9A5p07Mbqdec/edit?usp=sharing">Design Principles</a>. The various mechanics should, in theory, stem from decisions made to prioritize discoverability, consistency, flexibility, and constraints. 
  </p>

  <p>
    However, you are the GM of your own game. If you feel that the game would be more enjoyable with some tweaks, I encourage you to do so!
  </p>
</div>

