---
layout: default
---

<h1 id="frequently-asked-questions">Frequently Asked Questions</h1>

<button class="accordion">What happens when a roll ties?</button>

<div class="panel">
    <p>
        The rule of thumb is “Defender Wins”. Defender might be literal, as
        someone defending against an attack, or might be more vague, like a
        character trying to hide from pursuers. The GM has the final word on who
        the Defender is.
    </p>
</div>

<button class="accordion">
    Does a character die when they're incapacitated?
</button>

<div class="panel">
    <p>
        No. Usually they fall unconscious, or might be taken out differently
        depending on the cause of the attack (struck blind by magic, gibbering
        from mental trauma, etc.) Characters generally should not be killed off
        unless
        <a
            href="https://fate-srd.com/fate-core/getting-taken-out#character-death"
            >cinematically appropriate</a
        >.
    </p>
</div>

<button class="accordion">
    What Skill do I, as a player character, need to use XYZ weapon?
</button>

<div class="panel">
    <p>
        Any skill that makes enough narrative sense to satisfy the GM and a
        majority of the other players. Take a pistol for example:
    </p>

    <blockquote>
        <p>
            <strong>Perception</strong>: You are highly skilled in aiming guns
            and know how to draw a bead on a target.
        </p>

        <p>
            <strong>Agility</strong>: You have a knack for quick draws and
            putting a swift end to opposition.
        </p>

        <p>
            <strong>Strength</strong>: You trained in a gruelling special forces
            program. Lock and load is ingrained in your muscle memory as surely
            as walking.
        </p>
    </blockquote>
</div>

<button class="accordion">
    If weapons don't change damage, do I deal as much damage unarmed as I do
    with a sword?
</button>

<div class="panel">
    <p>
        You might, if you're trained in unarmed combat. The “weapons don't
        matter” concept is undergirded by the idea that one highly trained
        adventurer is as deadly another, even if they have a different
        preference in means. Someone that's spent years mastering the bow might
        find that their skills easily translate to crossbows, but perhaps not so
        much to battleaxes.
    </p>

    <p>
        To answer the question more directly: if the narrative backstory of your
        character has them as skilled with unarmed attacks as with sword
        attacks, then yes. Otherwise, the GM might put penalties on your rolls
        to reflect a lack of training.
    </p>
</div>

<button class="accordion">
    How do characters change Kits? Why don't they always have those abilities,
    items, spells, etc.?
</button>

<div class="panel">
    <p>
        The most straightforward answer is that the game is more fun with some
        restrictions.
    </p>

    <p>
        The narrative answer is that characters are preparing themselves in a
        specific way. An Alchemist might need to prime their potions, which lose
        potency after so many hours. A Mage might need to renew their pacts with
        spirits. A Soldier or a Scoundrel might rearrange their equipment, or
        rehearse a specific maneuver.
    </p>
</div>

<button class="accordion">
    Can I sneak attack with magic/crossbows/other weapons?
</button>

<div class="panel">
    <p>
        Yes, though the GM may impose additional conditions depending on the
        circumstance.
    </p>
</div>

<button class="accordion">
    Why does drinking an Elixir take an action?
</button>

<div class="panel">
    <p>
        Mechanically, it's because it keeps combat interesting.
    </p>

    <p>
        Narratively, you might imagine drinking something that knits bones back
        together in an instant is going to have quite an effect on a person. Ask
        the Alchemist to roleplay the effects of their concoctions; maybe their
        potions are incredibly painful to ingest, or maybe they're a
        distractingly intense experience.
    </p>
</div>

<button class="accordion">
    How are called shots handled?
</button>

<div class="panel">
    <p>
        Precision targeting, like aiming for an enemy's hand or eyes,
        increases the difficulty threshold for a successful attack. An enemy
        can normally be hit with a 1 or higher might need a 3 for a successful
        called shot.
    </p>

    <p>
        In exchange, a called shot inflicts damage and a narrative effect.
        Hitting the eyes might cause blindness. Hitting the hands might cause
        the target to drop their weapon.
    </p>

    <p>
        Soldiers have a Technique Kit that allows them to make called shots without
        increasing the penalty for doing so.
    </p>
</div>