---
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <!-- Markdown Content -->
    {{ content }}

    <!-- Tab links -->
    <div class="tab">
      <button
        class="tablinks active"
        onclick="openTab(event, 'character_sheet')"
      >
        Play
      </button>
      <button class="tablinks" onclick="openTab(event, 'rules')">
        Basic Rules
      </button>
      <button class="tablinks" onclick="openTab(event, 'health')">
        Health
      </button>
      <!-- <button class="tablinks" onclick="openTab(event, 'fighting')">Fighting</button> -->
      <button class="tablinks" onclick="openTab(event, 'kits')">Kits</button>
      <button class="tablinks" onclick="openTab(event, 'resources')">
        Resources
      </button>
      <!-- <button class="tablinks" onclick="openTab(event, 'advancement')">Advancement</button> -->
    </div>

    <!-- Character Sheet Tab -->
    <div id="character_sheet" class="tabcontent" style="display: block">
      <h3>Character Sheet</h3>

      <!-- React will populate the character sheet into this div -->
      <div id="root"></div>
    </div>

    <!-- Rules Tab -->
    <div id="rules" class="tabcontent">
      <h3>Doing Things</h3>
      <p>
        When you <b>do something challenging</b> the GM will tell you to roll
        and add a
        <a href="../docs/gameplay/skills.html" target="_blank">Skill</a> (such
        as Strength or Cunning). You can either use the "Roll Dice" button, or
        roll a ten-sided die and map the result using the table below.
      </p>
      <button class="btn" onclick="diceRoll(event, 'dice_outcome_2')">
        Roll Dice
      </button>
      <label id="dice_outcome_2">+0</label>
      <table>
        <thead>
          <tr>
            <th>Roll</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10</td>
            <td>Skill + 2</td>
          </tr>
          <tr>
            <td>9, 8</td>
            <td>Skill + 1</td>
          </tr>
          <tr>
            <td>7, 6, 5, 4</td>
            <td>Skill + 0</td>
          </tr>
          <tr>
            <td>3, 2</td>
            <td>Skill - 1</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Skill - 2</td>
          </tr>
        </tbody>
      </table>

      <h3>Success and Failure</h3>
      <p>
        The GM will
        <a
          href="../docs/gm_pages/setting_difficulty_levels.html"
          target="_blank"
          >determine if you've succeeded</a
        >
        based on how hard the task was and how high you rolled.
      </p>
      <table>
        <thead>
          <tr>
            <th>Difficulty</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr>
          <td>+0</td>
          <td>Average</td>
        </tr>
        <tr>
          <td>+1</td>
          <td>Proficient</td>
        </tr>
        <tr>
          <td>+2</td>
          <td>Professional</td>
        </tr>
        <tr>
          <td>+3</td>
          <td>Expert</td>
        </tr>
        <tr>
          <td>+4</td>
          <td>Master</td>
        </tr>
        <tr>
          <td>+5</td>
          <td>Olympic</td>
        </tr>
      </table>

      <h3>Advantage and Disadvantage</h3>
      <p>
        When the GM tells you to take Advantage,
        <b>you roll twice and take the better result</b>. Similarly,
        Disadvantage has you roll twice and take the worse result.
      </p>
    </div>

    <!-- Health Tab -->
    <div id="health" class="tabcontent">
      <h3>Health</h3>
      <div>
        <label> Physical Health </label>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
      </div>
      <div>
        <label> Mental Health </label>
        <input type="checkbox" />
        <input type="checkbox" />
        <input type="checkbox" />
      </div>
      <p>
        <a href="../docs/gameplay/health.html" target="_blank">Health</a> is
        measured in Boxes. <b>Whenever you take damage, you mark a box</b>. The
        GM will tell you if the box is Physical or Mental depending on the
        source of the damage.
      </p>
      <p>
        <b
          >If you run out of Physical or Mental boxes, you become
          incapacitated</b
        >. You cannot act in the game until at least one of those boxes is
        cleared, either by resting or healing.
      </p>

      <h3>Healing</h3>
      <p>
        The primary way to recover boxes is
        <a
          href="../docs/adventuring/exploration/making_camp.html"
          target="_blank"
          >Making Camp</a
        >. Some characters also have abilities that can recover Physical boxes.
      </p>
    </div>

    <!-- Fighting Tab -->
    <div id="fighting" class="tabcontent">
      <h3>Offense</h3>
      <p>
        <b>When you attack something, you roll a Skill</b> just like you would
        for any other action. Using a sword might be Strength or Agility.
        Casting a spell would be Magic. Shooting a gun could be Perception. You
        successfully hit an enemy if your roll
        <a
          href="../docs/gm_pages/making_enemies/index.html#the-baseline-mook"
          target="_blank"
          >beats their Defense</a
        >.
      </p>
      <p>
        <b>If you hit, the target takes a box of damage.</b> Certain abilities
        and situations might change this to two boxes, change the type of damage
        from Physical to Mental, or produce effects in addition to damage.
      </p>

      <h3>Defense</h3>
      <p>
        <b>When you try to avoid harm, you roll a Skill</b>. Blocking an attack
        might use Strength. Dodging could use Agility. If you fail to avoid
        harm, you mark a box of damage.
      </p>

      <h3>Turn Order</h3>
      <p>
        Turn order is decided at the beginning of some (but not all) conflicts.
        The GM will tell you to <b>roll Agility to determine when you act</b>.
      </p>
    </div>

    <!-- Kit Tab -->
    <div id="kits" class="tabcontent">
      <h3>Kits</h3>

      {% include example_kit.html %}

      <p>
        <b>Kits are powerful items that you've been trained to use</b>. They let you cast
        magic, perform alchemy, or wield enchanted weapons. The kits that you have access
        to are determined by your
        <a href="../docs/more/specializations/index.html" target="_blank">Specialization</a>.
      </p>

      <p>At any given time, <b>you can equip a maximum of four kits</b>.</p>

      <h3>Changing Kits</h3>
      <p>
        You can change Kits whenever you
        <a href="../docs/adventuring/exploration/making_camp.html">Make Camp</a
        >. You unlock new kits as your character becomes more
        <a href="../docs/more/advancement/index.html" target="_blank"
          >experienced</a
        >.
      </p>

      <h3>Main Types of Kits</h3>
      <ul>
        <li><b>Gear</b> <span class="material-symbols-outlined">swords</span>: Weapons, armor, and other equipment.</li>
        <li>
          <b>Talismans</b> <span class="material-symbols-outlined">auto_fix</span>: Artifacts that channel magical energy into spells.
        </li>
        <li>
          <b>Alchemy</b> <span class="material-symbols-outlined">science</span>: Products of alchemic innovation, ranging from
          explosives to poisons.
        </li>
      </ul>

      <h5>Other Types of Kits</h5>
      <ul>
        <li><b>High Damage</b> <span class="material-symbols-outlined">shift</span>: Weapons that deal two boxes of Physical damage, instead of one.</li>
        <li>
          <b>Accurate</b> <span class="material-symbols-outlined">point_scan</span>: Weapons that add a +1 to attack rolls, making attacks much more likely to land. 
        </li>
        <li>
          <b>Reaction</b> <span class="material-symbols-outlined">replay</span>: Kits that trigger on specific circumstances.
        </li>
      </ul>
    </div>

    <!-- Resources Tab -->
    <div id="resources" class="tabcontent">
      <h3>Resources</h3>

      <h5>Potions</h5>
      <blockquote>
        <p>
          The Alchemist's resource, used to heal two boxes of Physical damage or
          empower Alchemy kits.
        </p>
      </blockquote>

      <h5>Fortune</h5>
      <blockquote>
        The Soldier's resource, used to reroll dice or empower Gear kits.
      </blockquote>

      <h5>Mana</h5>
      <blockquote>
        The Mage's resource, used to empower Talisman kits or combine Talismans
        for complex spells.
      </blockquote>

      <h5>Tricks</h5>
      <blockquote>
        The Scoundrel's resource, used for many things:
        <ul>
          <li><b>Amplify</b> an Alchemy, Gear, or Talisman kit.</li>
          <li>
            Declare <b>I Know a Guy</b>, describing a local contact you might
            plausibly have that owes you a favor.
          </li>
          <li>
            Declare that you have <b>What You Needed</b>, describing an item or
            object that can help you with the current situation.
          </li>
        </ul>
      </blockquote>

      <!-- <h3>Pushing It</h3>
      <p>
        You can <b>sacrifice a Mental Health box</b> to recover a Resource (Charge Point, Fortune Point, Mana Point, Prep Point). Be careful, it's possible to to incapacitate yourself by doing this.
      </p> -->
    </div>

    <!-- Advancement Tab -->
    <div id="advancement" class="tabcontent">
      <h3>Advancement</h3>
      <p>You grow your character in two ways:</p>

      <h5>Skill Points</h5>
      <table>
        <thead>
          <tr>
            <th>Skill Level Upgrade</th>
            <th>Skill Point Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0 -&gt; 1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>1 -&gt; 2</td>
            <td>2</td>
          </tr>
          <tr>
            <td>2 -&gt; 3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>3 -&gt; 4</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
      <p>
        One Skill Point is awarded at the beginning of every session. They can
        be spent to increase Skills, with higher level Skills being more
        difficult to raise.
      </p>

      <h5>Tiers</h5>
      <p>
        Tiers are larger increases in power that represent the number of kits
        you have access to. New characters have access to six kits, while more
        experienced characters may have twelve, eighteen, or twenty-four kits.
      </p>
      <p>
        Tier level increases when the party achieves a significant milestone.
        The GM will tell you when this happens.
      </p>
    </div>

    <!-- Load Javascript -->
    <!-- <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script
      src="https://unpkg.com/react@18/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <script src="../assets/js/character_creator.js" type="module"></script>
    <script src="../assets/js/tabs.js"></script>
    <script src="../assets/js/dice_roll.js"></script>
  </body>
</html>
