---
layout: default
---

<h1>Character Sheet (WIP)</h1>

<div class="character_sheet">

    <!-- Header Row -->
    <div class="character_name">
        <input type="text" id="name" name="charactername" placeholder="Character Name">
    </div>

    <div class="character_class">
        <select id="class_select" name="characterclass">
            <option value="alchemist">Alchemist</option>
            <option value="soldier">Soldier</option>
            <option value="mage">Mage</option>
            <option value="scoundrel">Scoundrel</option>
        </select>
    </div>

    <!-- Health and Fortune/Prep Points Section -->
    <div class="health_header">
        <b>Health</b>
    </div>

    <div class="physical_health_text">
        <label>Physical Health</label>
    </div>

    <div class="mental_health_text">
        <label>Mental Health</label>
    </div>

    <div class="physical_health_track" id="physical_health_track">
        <!-- Checkboxes are created at runtime. -->
        <!-- <input type="checkbox"> -->
    </div>

    <div class="mental_health_track" id="mental_health_track">
        <!-- Checkboxes are created at runtime. -->
        <!-- <input type="checkbox"> -->
    </div>

    <div class="fortune_point_text">
        <label>Fortune Points</label>
    </div>

    <div class="prep_point_text">
        <label>Prep Points</label>
    </div>

    <div class="fortune_point_track" id="fortune_point_track">
        <!-- Checkboxes are created at runtime. -->
        <!-- <input type="checkbox"> -->
    </div>

    <div class="prep_point_track" id="prep_point_track">
        <!-- Checkboxes are created at runtime. -->
        <!-- <input type="checkbox"> -->
    </div>
        

    <!-- Skills Section -->
    <div class="skills_header">
        <b>Skills</b>
    </div>

    <div class="perception_text">
        <label>Perception</label>
    </div>

    <div class="perception_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="perception_value">
    </div>

    <div class="knowledge_text">
        <label>Knowledge</label>
    </div>

    <div class="knowledge_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="knowledge_value">
    </div>

    <div class="physique_text">
        <label>Physique</label>
    </div>

    <div class="physique_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="physique_value">
    </div>

    <div class="bravery_text">
        <label>Bravery</label>
    </div>

    <div class="bravery_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="bravery_value">
    </div>

    <div class="aura_text">
        <label>Aura</label>
    </div>

    <div class="aura_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="aura_value">
    </div>

    <div class="focus_text">
        <label>Focus</label>
    </div>

    <div class="focus_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="focus_value">
    </div>

    <div class="cunning_text">
        <label>Cunning</label>
    </div>

    <div class="cunning_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="cunning_value">
    </div>

    <div class="agility_text">
        <label>Agility</label>
    </div>

    <div class="agility_value">
        <input type="number" value="0" min="0", max="4" class="skill_holder" id="agility_value">
    </div>

    <!-- Kits Section -->
    <div class="kit_header">
        <b>Kits</b>
    </div>

    <div class="kit_chooser_01" name="1">
        <select id="kit_type_01" name="1">
            <option value="placeholder">Placeholder</option>
        </select>
        <select id="kit_01" name="1">
            <option value="potion">Potion</option>
        </select>
        <div id="kit_uses_01" name="1">
            <!-- Checkboxes are created at runtime. -->
            <!-- <input type="checkbox"> -->
        </div>
    </div>

    <div class="kit_text_01">
        <p id="kit_description_01" class="kit_description" name="1">Description</p>
    </div>

    <div class="kit_chooser_02" name="2">
        <select id="kit_type_02" name="2">
            <option value="placeholder">Placeholder</option>
        </select>
        <select id="kit_02" name="2">
            <option value="potion">Potion</option>
        </select>
        <div id="kit_uses_02" name="2">
            <!-- Checkboxes are created at runtime. -->
            <!-- <input type="checkbox"> -->
        </div>
    </div>

    <div class="kit_text_02">
        <p id="kit_description_02" class="kit_description" name="2">Description</p>
    </div>

    <div class="kit_chooser_03" name="3">
        <select id="kit_type_03" name="3">
            <option value="placeholder">Placeholder</option>
        </select>
        <select id="kit_03" name="3">
            <option value="potion">Potion</option>
        </select>
        <div id="kit_uses_03" name="3">
            <!-- Checkboxes are created at runtime. -->
            <!-- <input type="checkbox"> -->
        </div>
    </div>

    <div class="kit_text_03">
        <p id="kit_description_03" class="kit_description" name="3">Description</p>
    </div>

    <div class="kit_chooser_04" name="4">
        <select id="kit_type_04" name="4">
            <option value="placeholder">Placeholder</option>
        </select>
        <select id="kit_04" name="4">
            <option value="potion">Potion</option>
        </select>
        <div id="kit_uses_04" name="4">
            <!-- Checkboxes are created at runtime. -->
            <!-- <input type="checkbox"> -->
        </div>
    </div>

    <div class="kit_text_04">
        <p id="kit_description_04" class="kit_description" name="4">Description</p>
    </div>

</div>


<!-- Interactive Form Script  -->
<script>
    // Load data on page initialization
    var data = {{ site.data.miracuse_kits | jsonify }}
    var active_class = "Alchemist"
    var relevant_kits = data.filter(x => x.Class === active_class)
    var relevant_kit_types = new Set(relevant_kits.map(x => x.Type))
    var relevant_kit_names = new Set(relevant_kits.map(x => x.Kit))

    const kt_vals = [1, 2, 3, 4]
    const class_skill_map = new Map([
        ["Alchemist", [2, 2, 0, 0, 0, 0, 0, 0]],
        ["Soldier", [0, 0, 2, 2, 0, 0, 0, 0]],
        ["Mage", [0, 0, 0, 0, 2, 2, 0, 0]],
        ["Scoundrel", [0, 0, 0, 0, 0, 0, 2, 2]]
    ])
    const skill_holder_ids = ["perception_value",
                            "knowledge_value",
                            "physique_value",
                            "bravery_value",
                            "aura_value",
                            "focus_value",
                            "cunning_value",
                            "agility_value"]
    const skill_health_mappings = new Map([
            ["physique_value", "physical_health_track"],
            ["focus_value", "mental_health_track"],
            ["bravery_value", "fortune_point_track"],
            ["cunning_value", "prep_point_track"]
    ])

    let class_selector = document.getElementById('class_select')
    let kit_type_selectors = [document.getElementById('kit_type_01'),
                              document.getElementById('kit_type_02'),
                              document.getElementById('kit_type_03'),
                              document.getElementById('kit_type_04')]
    let kit_selectors = [document.getElementById('kit_01'),
                         document.getElementById('kit_02'),
                         document.getElementById('kit_03'),
                         document.getElementById('kit_04')]
    let kit_description_selectors = [document.getElementById('kit_description_01'),
                                     document.getElementById('kit_description_02'),
                                     document.getElementById('kit_description_03'),
                                     document.getElementById('kit_description_04')]
    let skill_selectors = [document.getElementById("knowledge_value"),
        document.getElementById("perception_value"),
        document.getElementById("physique_value"),
        document.getElementById("bravery_value"),
        document.getElementById("aura_value"),
        document.getElementById("focus_value"),
        document.getElementById("agility_value"),
        document.getElementById("cunning_value")
    ]
    
    // Helper Functions
    function update_kit_description(kt_index)
    {
        // Set target to corresponding kit description
        var kit_description_selector = kit_description_selectors[kt_index - 1]

        // Fetch description by selected kit
        var kit_selector_e = kit_selectors[kt_index - 1]
        var kit_str = kit_selector_e.options[kit_selector_e.selectedIndex].value
        var relevant_kits_sub_sub = relevant_kits.filter(x => x.Kit === kit_str)
        var relevant_kit_description_sub = relevant_kits_sub_sub.map(x => x.Description)

        // Replace existing description
        kit_description_selector.innerHTML = relevant_kit_description_sub
    }

    function update_kit(kt_index)
    {
        // Set target to corresponding kit selector
        var kit_selector = kit_selectors[kt_index - 1]

        // Fetch relevant kits by kit type
        var kit_type_selector_e = kit_type_selectors[kt_index - 1]
        var kit_type_str = kit_type_selector_e.options[kit_type_selector_e.selectedIndex].value
        var relevant_kits_sub = relevant_kits.filter(x => x.Type === kit_type_str)
        var relevant_kit_names_sub = relevant_kits_sub.map(x => x.Kit)

        // Delete existing options for kit selector
        while (kit_selector.childElementCount > 0)
        {
            kit_selector[kit_selector.childElementCount - 1].remove()
        }

        // Populate new options for kit selector
        for(element of Array.from(relevant_kit_names_sub))
        {
            // Create option
            var opt = document.createElement("option")
            opt.value = element
            opt.innerHTML = element

            // Append to list
            kit_selector.appendChild(opt)
        }

        // Update the corresponding kit selector
        update_kit_description(kt_index)
        
    }

    function update_kit_type(kt_index)
    {
        // Set target to the corresponding kit type selector
        var kit_type_selector = kit_type_selectors[kt_index - 1]

        // Delete existing options for selector
        while (kit_type_selector.childElementCount > 0)
        {
            kit_type_selector[kit_type_selector.childElementCount - 1].remove()
        }

        // Populate new options for selector
        for(element of Array.from(relevant_kit_types))
        {
            // Create option
            var opt = document.createElement("option")
            opt.value = element
            opt.innerHTML = element

            // Append to list
            kit_type_selector.appendChild(opt)
        }
        
        // Update the corresponding kit selector
        update_kit(kt_index)
    }

    function update_skills()
    {
        var skill_defaults = class_skill_map.get(active_class)
        for(var i=0; i<skill_defaults.length; i++)
        {
            // Fetch the input HTML object
            skill_value_selector = document.getElementById(skill_holder_ids[i])

            // Set its value to the default
            skill_value_selector.value = skill_defaults[i]
        }
    }

    function update_health_and_points()
    {
        // Update physical and mental health
        var target_health_skills = ["physique_value", "focus_value"]
        const starting_health = 3
        target_health_skills.forEach(element => 
        {
            var target_skill_val = document.getElementById(element).value
            var health_boxes = Number(target_skill_val) + starting_health
            var health_track_element_name = skill_health_mappings.get(element)
            var health_track = document.getElementById(health_track_element_name)
            var current_health_track_size = health_track.childElementCount
            var new_box_element = document.createElement("input")
            new_box_element.type = "checkbox"
            var diff_health = current_health_track_size - health_boxes
            for (var i=0; i<Math.abs(diff_health); i++)
            {
                if (diff_health > 0)
                {
                    health_track.removeChild(health_track.children[health_track.childElementCount - 1])
                }
                else if (diff_health < 0)
                {
                    var new_box_element = document.createElement("input")
                    new_box_element.type = "checkbox"
                    health_track.appendChild(new_box_element)
                }
            }
        });

        // Update fortune and prep points by Bravery and Cunning
        var target_point_skills = ["bravery_value", "cunning_value"]
        const point_multiplier = 2
        target_point_skills.forEach(element =>
        {
            var target_skill_val = document.getElementById(element).value
            var health_boxes = Number(target_skill_val) * point_multiplier
            var health_track_element_name = skill_health_mappings.get(element)
            var health_track = document.getElementById(health_track_element_name)
            var current_health_track_size = health_track.childElementCount
            var new_box_element = document.createElement("input")
            new_box_element.type = "checkbox"
            var diff_health = current_health_track_size - health_boxes
            for (var i=0; i<Math.abs(diff_health); i++)
            {
                if (diff_health > 0)
                {
                    health_track.removeChild(health_track.children[health_track.childElementCount - 1])
                }
                else if (diff_health < 0)
                {
                    var new_box_element = document.createElement("input")
                    new_box_element.type = "checkbox"
                    health_track.appendChild(new_box_element)
                }
            }
        })

        // Update uses per kit for Alchemist kits
        const default_uses_value = 2
        var target_skill_val = document.getElementById("knowledge_value").value
        var health_boxes = 0
        
        for (kit_type_selector of kit_type_selectors)
        {
            // Fetch kit type class
            var kit_type_class = data.filter(x => x.Type === kit_type_selector.value)[0].Class
            if (kit_type_class == "Alchemist")
            {
                health_boxes = Number(target_skill_val) + default_uses_value
            }
            else
            {
                health_boxes = 0
            }
            var health_track = document.getElementById("kit_uses_0" + kit_type_selector.name)
            var current_health_track_size = health_track.childElementCount
            var new_box_element = document.createElement("input")
            new_box_element.type = "checkbox"
            var diff_health = current_health_track_size - health_boxes
            
            
            for (var i=0; i<Math.abs(diff_health); i++)
            {
                if (diff_health > 0)
                {
                    health_track.removeChild(health_track.children[health_track.childElementCount - 1])
                }
                else if (diff_health < 0)
                {
                    var new_box_element = document.createElement("input")
                    new_box_element.type = "checkbox"
                    health_track.appendChild(new_box_element)
                }
            }
        }
    }

    function update_class() 
    {
        // Repopulate page variables
        active_class = class_selector.options[class_selector.selectedIndex].innerHTML
        relevant_kits = data.filter(x => x.Class === active_class)
        relevant_kit_types = new Set(relevant_kits.map(x => x.Type))
        relevant_kit_names = new Set(relevant_kits.map(x => x.Kit))

        // Repopulate kit types
        kt_vals.forEach( kt_index => update_kit_type(kt_index) )

        // Set default skill values
        update_skills()

        // Set health values
        update_health_and_points()
    }

    // Configure listeners to update state
    // // Change Class
    class_selector.addEventListener('change', event => 
    {
        update_class()
    })

    // // Change Kit Type
    for (kit_type_selector of kit_type_selectors)
    {
        kit_type_selector.addEventListener('change', event =>
        {
            update_kit(window.event.srcElement.name)
        })
    }

    // // Change Kit
    for (kit_selector of kit_selectors)
    {
        kit_selector.addEventListener('change', event =>
        {
            update_kit_description(window.event.srcElement.name)
        })
    }

    // // Change health or points (via skills)
    for (skill_selector of skill_selectors)
    {
        skill_selector.addEventListener('change', event =>
        {
            update_health_and_points()
        })
    }

    // Update page with default settings
    window.addEventListener('load', (event) => {
        update_class()
    });
    
</script>