<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-us'}}">
  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">
    {% include sidebar.html %}

    <main class="container">
      <h1>What You Do</h1>

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Skills')">
          Skills
        </button>
        <button class="tablinks" onclick="openTab(event, 'Taking Action')">
          Taking Action
        </button>
        <button class="tablinks" onclick="openTab(event, 'Taking Damage')">
          Taking Damage
        </button>
        <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
      </div>

      <!-- Tab content -->
      <div id="Skills" class="tabcontent" style="display: block">
        <h3>Skills</h3>
        <p>
          Many of the things you do while adventuring will correspond to one of
          the eight Skills. Each class specializes in two of the eight, making
          them better suited for related tasks.
        </p>

        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong><span style="color: #268bd2">Perception</span></strong>
              </td>
              <td>Awareness, lie detection, and investigation.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #268bd2">Knowledge</span></strong>
              </td>
              <td>General know-how, connections, and rhetorical ability.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #d28445">Bravery</span></strong>
              </td>
              <td>Willpower, intimidation, and courage.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #d28445">Physique</span></strong>
              </td>
              <td>Strength, martial arts, and physical health.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #953553">Aura</span></strong>
              </td>
              <td>
                Magical talent, rapport with spirits, and supernatural charisma.
              </td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #953553">Focus</span></strong>
              </td>
              <td>Concentration, sixth sense, and mental fortitude.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #90a959">Cunning</span></strong>
              </td>
              <td>Stealth, sleight-of-hand, and bluffing.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #90a959">Agility</span></strong>
              </td>
              <td>Mobility, evasion, and acting before others.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="Taking Action" class="tabcontent">
        <h3>Taking Action</h3>
        <p>
          When a player decides to take an action with one of the eight Skills,
          they'll roll a ten-sided die and add their character's Skill level.
          The higher the outcome, the better the result.
        </p>

        <p>
          <code class="language-plaintext highlighter-rouge"
            >Outcome = Roll Result + Skill Level</code
          >
        </p>

        <p>The table below shows how the dice roll translates to outcomes.</p>

        <table>
          <thead>
            <tr>
              <th>Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>-2</td>
            </tr>
            <tr>
              <td>2, 3</td>
              <td>-1</td>
            </tr>
            <tr>
              <td>4, 5, 6, 7</td>
              <td>+0</td>
            </tr>
            <tr>
              <td>8, 9</td>
              <td>+1</td>
            </tr>
            <tr>
              <td>10</td>
              <td>+2</td>
            </tr>
          </tbody>
        </table>

        <h3 id="examples">Example</h3>

        <p>When you want to do something as your character, tell the GM.</p>

        <blockquote>
          <p>I want to climb the cliffside.</p>
        </blockquote>

        <p>
          The GM will tell you what to do next, or what happens next if the task
          isn't too difficult.
        </p>

        <blockquote>
          <p>“Okay. Roll Agility.”</p>
        </blockquote>

        <p>The outcome of many actions depends on your Skills and your luck.</p>

        <blockquote>
          <p>I have a 0 in Agility and rolled a -1. That's a total of -1.</p>
        </blockquote>

        <p>
          The GM will interpret your results and tell you what happens next.
        </p>

        <blockquote>
          <p>
            “You got a -1? That's not good. You get to the top, but it took a
            lot out of you. Mark a point of Physical damage.”
          </p>
        </blockquote>
      </div>

      <div id="Taking Damage" class="tabcontent">
        <h3 id="Taking Damage">Taking Damage</h3>
        <p>
          While adventuring, characters are guaranteed to find themselves in
          harm's way. When this happens the GM will tell you to mark
          <strong>Damage</strong>.
        </p>

        <table>
          <thead>
            <tr>
              <th>Damage Track</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Physical</td>
              <td><strong>☑</strong></td>
              <td>☐</td>
              <td>☐</td>
            </tr>
            <tr>
              <td>Mental</td>
              <td>☐</td>
              <td>☐</td>
              <td>☐</td>
            </tr>
          </tbody>
        </table>

        <h3 id="incapacitation-and-injury">Incapacitation and Injury</h3>

        <p>
          When a player runs out of boxes in either the Physical or Mental tracks,
          their character is taken out. The following two conditions are applied.
        </p>

        <ul>
          <li>
            <p>
              <strong>Incapacitated</strong> characters cannot act until their
              damage track is completely clear, either by resting at camp or by
              receiving treatment.
            </p>
          </li>
          <li>
            <p>
              <strong>Injured</strong> characters take a -1 penalty to relevant
              rolls until they rest at camp. The GM will describe what kind of
              injury your character receives.
            </p>
          </li>
        </ul>

        <table>
          <thead>
            <tr>
              <th>Injury Track</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Physical</td>
              <td>☑</td>
            </tr>
            <tr>
              <td>Mental</td>
              <td>☐</td>
            </tr>
          </tbody>
        </table>

        <h3 id="overflow-damage-and-injuries">Overflow Damage and Injuries</h3>

        <p>When incapacitated, any additional damage has no effect.</p>

        <p>
          Likewise, characters can only have one Physical and one Mental injury
          at a time. Becoming incapacitated with an injury will not cause any
          additional effects.
        </p>
      </div>

      <div id="Kits" class="tabcontent">
        <h3 id="kits">Kits</h3>
        <p>
          Each class has their own list of abilities, called Kits. Players can
          choose up to four Kits at any given time, and are encouraged to change
          their Kits whenever their characters rest. A full list of Kits can be
          found on the
          <a
            href="https://docs.google.com/spreadsheets/d/1cY4KWxl4hnFNa8pxADSHeHmIqlgBL4068uAnY5wtHQg/edit?usp=sharing"
            >Interactive Game Sheets</a
          >.
        </p>

        <table>
          <thead>
            <tr>
              <th>Class</th>
              <th>Kit Type</th>
              <th>Kit</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alchemist</td>
              <td>Tool</td>
              <td>Revolver</td>
              <td>Make a Perception attack and add +1.</td>
            </tr>
            <tr>
              <td>Soldier</td>
              <td>Discipline</td>
              <td>Iron Will</td>
              <td>Gain an additional Mental Health box.</td>
            </tr>
            <tr>
              <td>Mage</td>
              <td>Elemental</td>
              <td>Spirit of Flame</td>
              <td>Allow for limited control and manifestation of fire.</td>
            </tr>
            <tr>
              <td>Scoundrel</td>
              <td>Criminal</td>
              <td>Hard Bit</td>
              <td>Gain an additional Physical Health box.</td>
            </tr>
          </tbody>
        </table>

        <h3>What Kind of Day Is Today?</h3>

        <p>
          Different Kits will make characters better suited for combat,
          exploration, or social encounters. A Soldier expecting to spend the
          day exploring the woods might use a selection of Kits that help with hazards and
          scouting. The same character might change their Kits to emphasize
          combat if they find an orc warcamp while scouting.
        </p>

        <p>
          The better equipped you are for the day ahead, the more successful you're
          likely to be. Be sure to keep aware of what kinds of dangers are ahead and 
          prepare appropriately.
        </p>
      </div>
    </main>

    {% include custom-foot.html %}
  </body>
</html>

<script>
  function openTab(evt, gameClassName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(gameClassName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
