---
layout: default-gm
---
<h1 id="scenario-design-101">Scenario Design 101</h1>

<!-- Tab links -->
<div class="tab">
  <button
    class="tablinks active"
    onclick="openTab(event, 'Overview')"
  >
    Overview
  </button>
  <button class="tablinks" onclick="openTab(event, 'Plot')">
    Plot
  </button>
  <button class="tablinks" onclick="openTab(event, 'Places')">
    Places
  </button>
  <button class="tablinks" onclick="openTab(event, 'People')">
    People
  </button>
</div>

<!-- Tab content -->
<div id="Overview" class="tabcontent" style="display: block">
<h3 id="overview">Overview</h3>

<p><strong>Scenarios</strong> are the individual adventures that players go on. From the GM perspective, they include <strong>plot</strong>, <strong>places</strong>, and <strong>people</strong>. For example:</p>

<blockquote>
  <p><strong><em>Climbing a cursed mountain to seal away the monster on top</em></strong><br>
<strong>Plot</strong>: A powerful monster is loose, leaving behind a valuable treasure at the shrine where it was imprisoned<br>
<strong>Places</strong>: A lodge at the mountain base, a spooky mountainside, a network of dark caves, the mountain summit<br>
<strong>People</strong>: Monsters, wildlife, a hermit or some bandits living on the mountain</p>
</blockquote>
</div>

<div id="Plot" class="tabcontent">
<h3 id="plot-the-why">Plot: The “Why”</h3>

<p><strong>Plot</strong> represents the story elements about a scenario. Plots ask the players “why” they should be involved.</p>

<table>
  <thead>
    <tr>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Problem</td>
      <td>What’s wrong here? What will happen if the players do nothing?</td>
    </tr>
    <tr>
      <td>Threats</td>
      <td>Who and what is dangerous here?</td>
    </tr>
    <tr>
      <td>Reward</td>
      <td>What do the players gain by helping?</td>
    </tr>
  </tbody>
</table>
</div>

<div id="Places" class="tabcontent">
<h3 id="places-the-where">Places: The “Where”</h3>

<p><strong>Places</strong> are exactly what they sound like. They represent the locations that adventures take place. Many also include Obstacles and Hazards.</p>

<ul>
  <li>
    <p><strong>Obstacles</strong> are passive problems that block the players’ progress (a cliff, a fast running river, etc.)</p>
  </li>
  <li>
    <p><strong>Hazards</strong> are active problems in an area that may cause harm to characters (a forest fire, a cloud of poisonous gas, etc.)</p>
  </li>
</ul>
</div>

<div id="People" class="tabcontent">
<h3 id="people-the-who">People: The “Who”</h3>

<p><strong>People</strong> encompasses all the characters in the world besides the players. Some may be friendly, others hostile, but they are one and all played by the GM.</p>

<ul>
  <li>
    <p><strong>Mooks</strong> are low-level enemies that might exhaust player characters, but aren’t likely to defeat them.</p>
  </li>
  <li>
    <p><strong>Bosses</strong> are stronger enemies that pose a serious threat.</p>
  </li>
</ul>
</div>