<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-us'}}">
  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">
    {% include sidebar.html %}

    <main class="container">
      <h1>Hybrid Classes</h1>

      <!-- Tab links -->
      <div class="tab">
        <button
          class="tablinks active"
          onclick="openTab(event, 'Overview')"
        >
          Overview
        </button>
        <button class="tablinks" onclick="openTab(event, 'Example')">
          Example
        </button>
      </div>

      <!-- Tab content -->
      <div id="Overview" class="tabcontent" style="display: block">
        <h3>How To Create a Hybrid Class</h3>

        <ol>
          <li>Choose two classes</li>
          <li>From each class, choose one Skill and one Kit type</li>
          <li>Set one of the Skills to +2, the other to +1</li>
          <li>Choose one additional Skill, set to +1</li>
          <li>Name the new class</li>
        </ol>

        <h3 id="differences-between-base-and-hybrid-classes">
          Differences Between Base and Hybrid Classes
        </h3>

        <table>
          <thead>
            <tr>
              <th>Base</th>
              <th>Hybrid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Have one Attack and one Social Skill</td>
              <td>Can have any combination of Skills</td>
            </tr>
            <tr>
              <td>Have 18 to 24 Kits</td>
              <td>Have 12 Kits</td>
            </tr>
            <tr>
              <td>Have two Skills (+2, +2)</td>
              <td>Have three Skills (+2, +1, +1)</td>
            </tr>
          </tbody>
        </table>

        <p>
          Hybrid classes lose some versatility by having fewer Kits. In
          exchange, they allow for combinations that otherwise wouldn’t be
          possible.
        </p>

        <p>
          Players are encouraged to experiment with hybrid classes if they have
          a particular character concept in mind, such as “a thief that uses
          bombs” or “a warrior that knows magic”.
        </p>
      </div>

      <div id="Example" class="tabcontent">
        <h3 id="example">Example</h3>

        <p>
          More examples and information can be found on the
          <a
            href="https://docs.google.com/spreadsheets/d/1WPtus7bS82xkrfO319qbVZrZZzAWQ2S_yBq5coala7k/edit?usp=sharing"
            >Interactive Game Sheets</a
          >.
        </p>

        <table>
          <thead>
            <tr>
              <th>Wizard</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Class</td>
              <td>
                <strong><span style="color: #953553">Mage</span></strong>
              </td>
              <td>
                <strong><span style="color: #268bd2">Alchemist</span></strong>
              </td>
            </tr>
            <tr>
              <td>Skill</td>
              <td>
                <strong><span style="color: #953553">Aura (+2)</span></strong>
              </td>
              <td>
                <strong
                  ><span style="color: #268bd2">Knowledge (+1)</span></strong
                >
              </td>
            </tr>
            <tr>
              <td>Kit Type</td>
              <td>
                <strong><span style="color: #953553">Elemental</span></strong>
              </td>
              <td>
                <strong><span style="color: #268bd2">Drugs</span></strong>
              </td>
            </tr>
            <tr>
              <td>Bonus Skill</td>
              <td>
                <strong><span style="color: #953553">Focus (+1)</span></strong>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    {% include custom-foot.html %}
  </body>
</html>

<script>
  function openTab(evt, gameClassName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(gameClassName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
