---
layout: default
---

<h1>Miscellaneous</h1>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'Custom Classes')">
      Custom Classes
    </button>
    <button class="tablinks" onclick="openTab(event, 'Advancement')">
      Advancement
    </button>
</div>

<div id="Custom Classes" class="tabcontent" style="display: block">
    <h3>Custom Classes</h3>
    <p>
        The base classes can be used for many character concepts, but players may 
        also choose to modify their starting Skills to better reflect a particular
        character concept. For example, a Paladin might mix a Soldier's Skills with a 
        Mage's Kits to create a character that can use magic and fight with weapons.
    </p>

    <h3>Creating a Custom Class</h3>
    <ul>
        <li>Choose one Subclass, chosen from any of the base classes</li>
        <li>Choose one of the following Skill spreads</li>
        <ul>
            <li>Standard (Two Skills at +2)</li>
            <li>Versatile (One Skill at +2, Two Skills at +1)</li>
        </ul>
    </ul>

    <h3>Example: Paladin</h3>
    <h5>
        Subclass:
    </h5>
    <ul>
        <li>Mage/Priest</li>
    </ul>

    <h5>
        Skills:
    </h5>
    <ul>
        <li>Strength +2</li>
        <li>Bravery +1</li>
        <li>Magic +1</li>
    </ul>

    <h5>
        Description:
    </h5>
    <p>
        A holy knight trained in the arts of war and magic. Paladins
        are poorly suited to spellcasting, but gain a great deal of
        versatility from their access to Priest cantrips. Likewise, Paladins
        have none of the martial talents of a Soldier, but have similar durability
        and Strength.
    </p>
</div>

<div id="Advancement" class="tabcontent">
    <h3>Advancement</h3>

    <b>Coming Soon</b>

</div>