---
layout: default
---

<h1>The Mage</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Magic')">
    Magic Basics
  </button>
  <button class="tablinks" onclick="openTab(event, 'Spellcasting')">
    Spellcasting
  </button>
  <!-- <button class="tablinks" onclick="openTab(event, 'Example Cantrips')">
    Example Cantrips
  </button>
  <button class="tablinks" onclick="openTab(event, 'Example Spells')">
    Example Spells
  </button> -->
  <!-- <button class="tablinks" onclick="openTab(event, 'Role')">Role</button> -->
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: {{ site.mage_color }}">The Mage</span></h3>
  <p>
    The Mage forms pacts with the primal spirits of the world to perform
    miracles and spells. Some come by their magic through careful study, others
    through natural inclination or religious tradition. All Mages, regardless of
    their background, are marked by their dealings with spirits and become less
    human as they grow in power.
  </p>
  <ul>
    <li><b>Skills</b>: Magic, Focus</li>
    <li><b>Subclasses</b>: Priest, Shaman, Wizard</li>
  </ul>
  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>
        * A <b>staff, wand, book,</b> or other <b>object</b> used in your
        spellcasting
      </td>
    </tr>
    <tr>
      <td>
        * An <b>unnatural physical characteristic</b>, such as red irises or
        glowing tattoos
      </td>
    </tr>
    <tr>
      <td>
        * <b>Clothing that marks you as a Mage</b>, such as rune-embroidered
        robes or vestments of faith
      </td>
    </tr>
    <tr>
      <td>
        * A <b>voice that commands attention</b> in some way, such as a gravelly
        rasp or tendency to rhyme
      </td>
    </tr>
  </table>
</div>

<div id="Magic" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Magic Basics</span></h3>

  <h3>Magic Kits</h3>

  <p>
    Mage Kits are deliberately open-ended, allowing players creative
    freedom to experiment with effects. A player might take <i>Spirit
    of Flame</i> and use it for:
  </p>

  <ul>
    <li>Throwing fire at enemies.</li>
    <li>Making lights to help see while exploring in the dark.</li>
    <li>Creating a fire to keep warm during a snowstorm.</li>
    <li>Any other fire-related purpose.</li>
  </ul>
</div>

<div id="Spellcasting" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Cantrips and Spellcasting</span></h3>

  <p>
    <b>Cantrips</b> are the default way to use a Mage Kit. 
    The player describes an effect they want to achieve using their Kit and
    roll <strong><span style="color: {{ site.mage_color }}">Magic</span></strong> to see how
    well it goes. 
  </p>

  <p>
    <b>Spellcasting</b> is a more powerful, but more costly, way to use
    magic. Mages combine two different Spirit Kits to produce stronger and more 
    complex effects. Like Cantrips, the Mage rolls
    <strong><span style="color: {{ site.mage_color }}">Magic</span></strong> to determine
    how successful the attempt was. They must also mark a point of Mental
    Health damage afterwards, reflecting the strain of using powerful magic.
  </p>

  <h3>Effect Power Levels</h3>

  <table>
    <thead>
      <tr>
        <th>Cantrip Effects</th>
        <th>Spellcasting Effects</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Uses one Spirit Kit</td>
        <td>Uses two Spirit Kits</td>
      </tr>
      <tr>
        <td>Usually single target<br></td>
        <td>Can have multiple targets</td>
      </tr>
      <tr>
        <td>Usually has a short duration and a small effect</td>
        <td>Can have longer durations or larger effects</td>
      </tr>
    </tbody>
    </table>
</div>

<div id="Example Cantrips" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Example Cantrips</span></h3>

  <h3>Cantrips</h3>
  <table>
    <thead>
      <tr>
        <th>Cantrip Name</th>
        <th>Kit</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Speak with Animals</td>
        <td>Spirit of Language</td>
        <td>Speak with and understand animals.</td>
      </tr>
      <tr>
        <td>Dispel Magic</td>
        <td>Spirit of Heavens</td>
        <td>Destroy a spell, spirit, or magical construct.</td>
      </tr>
      <tr>
        <td>Hold Person</td>
        <td>Spirit of Warding</td>
        <td>Trap a target in place, preventing them from acting.</td>
      </tr>
      <tr>
        <td>Locate</td>
        <td>Spirit of Divination</td>
        <td>Determine the general direction and distance of a person or object, provided you have a connection to it.</td>
      </tr>
      <tr>
        <td>Firebolt</td>
        <td>Spirit of Fire</td>
        <td>Sling fire at targets, inflicting Physical damage.</td>
      </tr>
      <tr>
        <td>Feather Fall</td>
        <td>Spirit of Air</td>
        <td>Float gently downwards, rather than falling.</td>
      </tr>
      <tr>
        <td>Repel Metal</td>
        <td>Spirit of Force</td>
        <td>Create a magnetic field that deflects metal weapons and ammo.</td>
      </tr>
      <tr>
        <td>Silence</td>
        <td>Spirit of Sound</td>
        <td>Prevent any sound from escaping an area.</td>
      </tr>
      <tr>
        <td>Silent Image</td>
        <td>Spirit of Light</td>
        <td>Create and puppet an illusory image.</td>
      </tr>
      <tr>
        <td>Heat Metal</td>
        <td>Spirit of Thermos</td>
        <td>Make metal burn red hot.</td>
      </tr>
    </tbody>
    </table>
</div>

<div id="Example Spells" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Example Spells</span></h3>

    <h3>Spells</h3>
    <table>
      <thead>
        <tr>
          <th>Spell Name</th>
          <th>Kits</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fireball</td>
          <td>Spirits of Flame and Air</td>
          <td>Cause an explosion of flame, inflicting damage to those in the area.</td>
        </tr>
        <tr>
          <td>Power Word: Stun</td>
          <td>Spirits of Language and Binding</td>
          <td>Paralyze a group of targets.</td>
        </tr>
        <tr>
          <td>Restoration</td>
          <td>Spirits of Healing and Divination</td>
          <td>Remove a Physical Injury from a target.</td>
        </tr>
        <tr>
          <td>Quicksand</td>
          <td>Spirits of Earth and Water</td>
          <td>Transmute a large area of solid ground into dangerous quicksand.<br></td>
        </tr>
        <tr>
          <td>Ice Coffin</td>
          <td>Spirits of Water and Thermos</td>
          <td>Cover an area with a thick sheet of ice, imprisoning those within.<br></td>
        </tr>
        <tr>
          <td>Animate Dead</td>
          <td>Spirits of Hell and Locomotion</td>
          <td>Compel a corpse to walk and act on your behalf.<br></td>
        </tr>
        <tr>
          <td>Chain Lightning</td>
          <td>Spirits of Aether and Force</td>
          <td>A bolt of lightning that bounces between enemies, ignoring allies.<br></td>
        </tr>
        <tr>
          <td>Fly</td>
          <td>Spirits of Binding and Wind</td>
          <td>Float into the sky, controlling your rise and fall.<br></td>
        </tr>
        <tr>
          <td>Phantasms</td>
          <td>Spirits of Light and Sound</td>
          <td>Create several mirror images of yourself, indistinguishable except by touch.<br></td>
        </tr>
        <tr>
          <td>Speak With Dead</td>
          <td>Spirits of Langauge and Hell</td>
          <td>Compel a corpse to speak, forcing it to answer three questions truthfully.<br></td>
        </tr>
      </tbody>
      </table>
</div>

<div id="Role" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Mage Role</span></h3>
<h3>In combat...</h3>
  <p>
    The Mage unleashes unpredictable havoc on the enemy; striking foes blind,
    sending bolts of lighting across the battlefield, or casting any number of
    other impossibilities.
  </p>
  <h3>Socially...</h3>
  <p>
    The Mage speaks with supernatural charm. Weak-willed listeners find
    themselves hypnotically compelled by the sound of a Mage's voice, while
    those with sterner minds react with immediate distrust.
  </p>
  <h3>While exploring...</h3>
  <p>
    The Mage may call on their spirits to aid in finding hidden locations or
    communicating with the inhabitants of a foreign land. Their sixth sense can
    be helpful when dangerous magic is in the air.
  </p>
</div>

<div id="Kits" class="tabcontent">
  <h3><span style="color: {{ site.mage_color }}">Mage Kits</span></h3>

  <table class="kits_table">
    {% for row in site.data.Mage %}
    <tr>
      <td><b>{{ row.Kit }}</b></td>
      <td>{{ row.Type }}</td>
      <td>{{ row.Tags }}</td>
      <td>{{ row.Description }}</td>
    </tr>
    {% endfor %}
  </table>