---
layout: default
---
      <h1>Adventuring</h1>

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Skirmish')">
          Skirmish
        </button>
        <button class="tablinks" onclick="openTab(event, 'Combat')">
          Combat
        </button>
        <button class="tablinks" onclick="openTab(event, 'Persuasion')">
          Persuasion
        </button>
        <button class="tablinks" onclick="openTab(event, 'Scouting')">
          Scouting
        </button>
        <button class="tablinks" onclick="openTab(event, 'Camping')">
          Camping
        </button>
        <button class="tablinks" onclick="openTab(event, 'Teamwork')">
          Teamwork
        </button>
      </div>

      <!-- Tab content -->
      <div id="Skirmish" class="tabcontent" style="display: block">
        <h3>Skirmish</h3>
        <p>
          A skirmish is any situation where several characters need to take
          different actions and <strong>turn order matters</strong>. The most
          common scenario is combat, but other possibilities might include
          fixing a sinking ship or racing a rival adventuring party for
          treasure.
        </p>

        <ul>
          <li>
            Roll <strong><span style="color: #90a959">Agility</span></strong> to
            determine the order that characters will act.
          </li>
          <li>
            On their turn, characters can take one action (usually a single roll
            of the dice).
          </li>
        </ul>

        <h3>Actions</h3>
        <p>
          In general, a player's turn ends after they <b>roll dice</b> or do something time consuming. For example:
        </p>
        
        <ul>
          <li>Swinging a sword</li>
          <li>Drinking an elixir</li>
          <li>Casting a spell</li>
          <li>Intimidating an enemy</li>
        </ul>

        <p>
          Actions and turn order rules aren't set in stone. There are plenty of things that won't take up
          an entire action, like saying a few words to another person. There are also times when it makes
          sense for a character to react outside of their turn, like stepping into oncoming fire to protect
          an ally.Ultimately, <b>a player's turn ends when it makes narrative sense</b>. The GM will provide guidance as necessary.
        </p>
        
      </div>

      <div id="Combat" class="tabcontent">
        <h3>Combat</h3>
        <p>
          Combat is a common type of skirmish where the objective involves defeating enemies, typically by inflicting harm.
        </p>

        <h3>Using Skills to Cause Harm</h3>

        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong><span style="color: #268bd2">Perception</span></strong></td>
              <td>
                Shooting with a crossbow or other
                <strong>precise</strong> weapon
              </td>
            </tr>
            <tr>
              <td><strong><span style="color:#d28445">Physique</span></strong></td>
              <td>
                Using a <strong>hefty</strong> weapon, such as a sword or
                longbow
              </td>
            </tr>
            <tr>
              <td><strong><span style="color:#90a959">Agility</span></strong></td>
              <td>
                Using a <strong>swift</strong> weapon, such as throwing knives
                or an epee
              </td>
            </tr>
            <tr>
              <td><strong><span style="color:#953553">Aura</span></strong></td>
              <td>Using <strong>magic</strong> to cause harm</td>
            </tr>
          </tbody>
        </table>

        <h3>Using Skills to Avoid Harm</h3>

        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong><span style="color:#90a959">Agility</span></strong></td>
              <td>
                <strong>Dodging</strong> out of the way, deflecting attacks
              </td>
            </tr>
            <tr>
              <td><strong><span style="color:#d28445">Physique</span></strong></td>
              <td>
                <strong>Enduring</strong>, pushing through difficulty or pain
              </td>
            </tr>
            <tr>
              <td><strong><span style="color:#d28445">Bravery</span></strong></td>
              <td><strong>Overcoming</strong> fear, exhaustion, or attacks on the mind</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="Persuasion" class="tabcontent">
        <h3>Persuasion</h3>
        <p>
          Anytime you want to convince a non-player character of something,
          you'll need to roll an appropriate Skill. Each class has their own
          approach to persuasion with some being better suited to particular
          situations.
        </p>

        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th>Use</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong><span style="color: #268bd2">Knowledge</span></strong>
              </td>
              <td>Debate, rhetorical skill, and logic.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #d28445">Bravery</span></strong>
              </td>
              <td>Challenge, intimidate, and impress.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #953553">Aura</span></strong>
              </td>
              <td>Awe, command, and speaking with spirits.</td>
            </tr>
            <tr>
              <td>
                <strong><span style="color: #90a959">Cunning</span></strong>
              </td>
              <td>Deceit, fast talking, and working with animals.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="Scouting" class="tabcontent">
        <h3>Scouting</h3>

        <p>
          Players looking to explore dangerous areas will need to be quiet and
          observant. The following Skills apply:
        </p>

        <ul>
          <li>
            Use the <strong>lowest</strong>
            <strong><span style="color: #90a959">Cunning</span></strong> of
            everyone participating, no roll required
          </li>
          <li>
            Roll
            <strong><span style="color: #268bd2">Perception</span></strong> and
            take the <strong>highest</strong> result of everyone participating
          </li>
          <li>
            In case of magical effects, roll <b><span style="color: #953553">Focus</span></b>
            and take the <b>highest</b> result of everyone participating
          </li>
        </ul>

        <p>
          Better Cunning results will ensure that the scouts are not discovered,
          while better Perception and Focus rolls will reveal additional information
          about the surroundings.
        </p>

        <h3>There and Back</h3>

        <p>
          By and large, Scouting takes place <strong>over a single action</strong>.
          The player character quietly makes their way to the area being explored,
          takes note of anything interesting, and reports back to their team.
        </p>
        <p>
          Lengthier expeditions might be conducted if the party agrees to it, but
          remember that spending too much time solo is dangerous, and not terribly
          fun for the other players.
        </p>
      </div>

      <div id="Camping" class="tabcontent">
        <h3>Camping</h3>
        <p>
          Making camp gives characters the opportunity to recover and change
          their Kits. However, resting in dangerous areas should be accompanied
          by a watch to prevent ambushes.
        </p>

        <ul>
          <li>
            Two characters roll
            <strong><span style="color: #268bd2">Perception</span></strong> and
            take the <strong>lowest</strong> result
          </li>
        </ul>

        <h3 id="changing-kits">Changing Kits</h3>

        <p>
          Characters can swap out their current Kits for new ones provided the
          following is true:
        </p>

        <ul>
          <li>They're somewhere safe (like a city or in camp)</li>
          <li>They have at least one full hour of time</li>
        </ul>

        <p>
          All boxes are cleared at this time, including Alchemist Uses per Kit, Soldier
          Fortune Points, and Scoundrel Prep Points.
        </p>
      </div>

      <div id="Teamwork" class="tabcontent">
        <h3>Teamwork</h3>
        <p>
          Players can help one another with actions provided that there's some 
          narrative justification for doing so. The player being helped receives
          Advantage on the relevant roll.
        </p>

        <blockquote>
          <p>Player 1: I want to bend the metal bars on the prison door open.</p>

          <p></p>GM: Okay, roll Physique.</p>

          <p>Player 2: Wait. Can I help them?</p>

          <p>GM: Do you have any points in Physique?</p>

          <p>Player 2: No...</p> 

          <p>Player 3: I do.</p> 

          <p>GM: Alright, Player 3 can help. Player 1, roll with Advantage.</p>
        </blockquote>
      </div>

