---
layout: default
---
<h1>The Soldier</h1>

<!-- Tab links -->
<div class="tab">
  <button
    class="tablinks active"
    onclick="openTab(event, 'Description')"
  >
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Mechanics')">
    Mechanics
  </button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
    <h3><span style="color: #d28445">The Soldier</span></h3>
    <p>
        The Soldier is a warrior without peer. They may be knights, bandits,
        infantrymen, or come from other walks of life. What makes one a
        Soldier is not their profession but their skill at arms, courage, and
        a surprising amount of luck.
    </p>
    <ul>
        <li><b>Skills</b>: Physique, Bravery</li>
        <li><b>Kits</b>: Fortune, Discipline, Valor</li>
    </ul>

    <table>
        <th>Equipment and Appearance</th>
        <tr>
        <td>* A <b>melee weapon</b> such as a sword, spear, or bayonet</td>
        </tr>
        <tr>
        <td>
            * A <b>ranged weapon</b> such as a longbow, musket, or flintlocks
        </td>
        </tr>
        <tr>
        <td>* <b>Armor</b> ranging from thick leathers to metal plates</td>
        </tr>
        <tr>
        <td>
            * A <b>sign of rank</b>, storied weapon, or other marking of prowess
        </td>
        </tr>
    </table>

    <hr />

    <h5>In combat...</h5>
    <p>
        The Soldier is often at the frontlines, terrorizing enemies and bringing
        ruin to those that approach. They may serve as a vanguard preventing
        foes from reaching more fragile members of the party.
    </p>
    <h5>Socially...</h5>
    <p>
        The Soldier is an imposing figure. They carry an air of self assurance
        that impresses like-minded persons and cows others. Less militant
        audiences may be put off by their demeanor, seeing them as brutish and
        curt.
    </p>
    <h5>While exploring...</h5>
    <p>
        The Soldier provides raw muscle, breaking down obstacles by sheer force.
        Their abundant luck has saved many a party from unexpected traps and ambushes.
    </p>
    </div>

<div id="Mechanics" class="tabcontent">
<h3><span style="color: #d28445">Soldier Mechanics</span></h3>
<h3>Fortune Points</h3>

<p>
    Soldiers have a number of <strong>Fortune Points</strong> equal to
    their <strong><span style="color:#d28445">Bravery</span></strong>.
    Fortune Points can be used to reroll any action the Soldier takes
    and take the better result.
</p>

<table>
    <thead>
    <tr>
        <th>Bravery</th>
        <th>Uses per Rest</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td>1</td>
        <td>☐ ☐ </td>
    </tr>
    <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
    </tr>
    <tr>
        <td>…</td>
        <td>…</td>
    </tr>
    </tbody>
</table>
<ul>
    <li>Fortune Points can only be used once per roll</li>
    <li>Fortune Points can be recovered by resting or through certain Kits </li>
    <li>Fortune Points can be used for any action where the player rolls, not just for combat</li>
</ul>

<h3>Morale</h3>

<p>
    Soldiers also have the ability to influence the morale of friends and foes using <strong><span style="color:#d28445">Bravery</span></strong>.
</p>

<ul>
    <li><strong>Intimidation</strong> can force enemies to make distance or retreat.</li>
    <li><strong>Provoking</strong> enemies will incite them to ignore others and focus on the Soldier.</li>
    <li><strong>Rallying</strong> allies grants them Advantage on their next roll in combat.</li>
</ul>
</div>

      

