---
layout: default
---

<h1>The Mage</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Mechanics')">
    Mechanics
  </button>
  <button class="tablinks" onclick="openTab(event, 'Example Magic')">
    Example Magic
  </button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: #953553">The Mage</span></h3>
  <p>
    The Mage forms pacts with the primal spirits of the world to perform
    miracles and spells. Some come by their magic through careful study, others
    through natural inclination or religious tradition. All Mages, regardless of
    their background, are marked by their dealings with spirits and become less
    human as they grow in power.
  </p>
  <ul>
    <li><b>Skills</b>: Aura, Focus</li>
    <li><b>Kits</b>: Black Magic, Elemental Magic, White Magic</li>
  </ul>
  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>
        * A <b>staff, wand, book,</b> or other <b>object</b> used in your
        spellcasting
      </td>
    </tr>
    <tr>
      <td>
        * An <b>unnatural physical characteristic</b>, such as red irises or
        glowing tattoos
      </td>
    </tr>
    <tr>
      <td>
        * <b>Clothing that marks you as a Mage</b>, such as rune-embroidered
        robes or vestments of faith
      </td>
    </tr>
    <tr>
      <td>
        * A <b>voice that commands attention</b> in some way, such as a gravelly
        rasp or tendency to rhyme
      </td>
    </tr>
  </table>

  <hr />

  <h5>In combat...</h5>
  <p>
    The Mage unleashes unpredictable havoc on the enemy; striking foes blind,
    sending bolts of lighting across the battlefield, or casting any number of
    other impossibilities.
  </p>
  <h5>Socially...</h5>
  <p>
    The Mage speaks with supernatural charm. Weak-willed listeners find
    themselves hypnotically compelled by the sound of a Mage's voice, while
    those with sterner minds react with immediate distrust.
  </p>
  <h5>While exploring...</h5>
  <p>
    The Mage may call on their spirits to aid in finding hidden locations or
    communicating with the inhabitants of a foreign land. Their sixth sense can
    be helpful when dangerous magic is in the air.
  </p>
</div>

<div id="Mechanics" class="tabcontent">
  <h3><span style="color: #953553">Mage Mechanics</span></h3>

  <h3>Open Ended Magic</h3>

  <p>
    Mage Kits are deliberately open-ended, allowing players creative
    freedom to experiment with effects. A player might take the <i>Spirit
    of Flame</i> Kit and use it to throw fire at enemies, make lights
    while exploring in the dark, or keep themselves warm in a snowstorm.
  </p>

  <h3>Cantrips and Spellcasting</h3>

  <p>
    <b>Cantrips</b> are magic effects that characters perform with one Kit. 
    The player chooses a spirit, describes an effect they want to achieve, and
    rolls <strong><span style="color: #953553">Aura</span></strong> to see how
    well it goes. 
  </p>

  <p>
    <b>Spellcasting</b> is a more powerful, but more costly, way to use
    magic. Mages combine two of their Kits to produce stronger and more 
    complex effects, but have to mark a point of Mental Health damage after use.
  </p>

  <h3>Effect Power Levels</h3>

  <table>
    <thead>
      <tr>
        <th>Cantrip Effects</th>
        <th>Spellcasting Effects</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Uses one Spirit Kit</td>
        <td>Uses two Spirit Kits</td>
      </tr>
      <tr>
        <td>Usually single target<br></td>
        <td>Can have multiple targets</td>
      </tr>
      <tr>
        <td>Usually has a short duration</td>
        <td>Can have longer durations</td>
      </tr>
      <tr>
        <td>Can heal Physical Health damage</td>
        <td>Can heal a Physical Injury</td>
      </tr>
    </tbody>
    </table>

</div>

<div id="Example Magic" class="tabcontent">
  <h3><span style="color: #953553">Example Magic</span></h3>

  <h3>Cantrips</h3>
  <table>
    <thead>
      <tr>
        <th>Cantrip Name</th>
        <th>Kit</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Speak with Animals</td>
        <td>Spirit of Language</td>
        <td>Speak with and understand animals.</td>
      </tr>
      <tr>
        <td>Firebolt</td>
        <td>Spirit of Fire</td>
        <td>Sling fire at targets, inflicting Physical damage.</td>
      </tr>
      <tr>
        <td>Torch</td>
        <td>Spirit of Fire</td>
        <td>Create a floating ball of fire, illuminating the area.</td>
      </tr>
      <tr>
        <td>Hold Person</td>
        <td>Spirit of Warding</td>
        <td>Trap a target in place, preventing them from acting.</td>
      </tr>
    </tbody>
    </table>

    <h3>Spells</h3>
    <table>
      <thead>
        <tr>
          <th>Spell Name</th>
          <th>Kits</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fireball</td>
          <td>Spirits of Flame and Air</td>
          <td>Cause an explosion of flame, inflicting Physical damage to those in the area.</td>
        </tr>
        <tr>
          <td>Power Word: Stun</td>
          <td>Spirits of Language and Binding</td>
          <td>Paralyze a group of targets.</td>
        </tr>
        <tr>
          <td>Restoration</td>
          <td>Spirits of Healing and Scrying</td>
          <td>Remove a Physical Injury from a target.</td>
        </tr>
        <tr>
          <td>Quicksand</td>
          <td>Spirits of Earth and Water</td>
          <td>Transmute a large area of solid ground into dangerous quicksand.<br></td>
        </tr>
      </tbody>
      </table>
</div>
