---
layout: default
---

<h1>The Scoundrel</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Prep')">
    Prep
  </button>
  <button class="tablinks" onclick="openTab(event, 'Stealth')">
    Stealth
  </button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: #90a959">The Scoundrel</span></h3>
  <p>
    The Scoundrel is a master of misdirection. They blend in with crowds and
    shadows, only revealing themselves when the time is right. Many employ their
    talents as hunters or merchants, though it's just as common to see them
    working as thieves and assassins.
  </p>
  <ul>
    <li><b>Skills</b>: Cunning, Agility</li>
    <li><b>Kits</b>: Criminal, Hunter, Performer</li>
  </ul>
  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>
        * An easily hidden <b>melee weapon</b>, such as a dagger or garrote
      </td>
    </tr>
    <tr>
      <td>
        * An unassuming <b>ranged weapon</b>, such as throwing knives or a
        shortbow
      </td>
    </tr>
    <tr>
      <td>
        * <b>Inconspicuous clothes</b> for traveling, and
        <b>fashionable dress</b> for formal affairs
      </td>
    </tr>
    <tr>
      <td>
        * Lockpicks, wire cutters, and other <b>thieves' tools</b> hidden on
        your person
      </td>
    </tr>
  </table>

  <hr />

  <h5>In combat...</h5>
  <p>
    The Scoundrel waits for the right opportunity to dispatch an enemy, showing
    a preference for dangerous targets like mages. Once exposed they might make
    a hasty getaway, or throw themselves into the fight with a frenzy of quick
    strikes.
  </p>
  <h5>Socially...</h5>
  <p>
    The Scoundrel bewilders and confuses with fast-talk. Perhaps because of
    their ability to present an friendly face, many also have an affinity for
    working with animals. Listeners that prefer a straightforward response will
    quickly tire of the Scoundrel's evasive speech.
  </p>
  <h5>While exploring...</h5>
  <p>
    The Scoundrel is nearly always the scout of a party. They move unseen
    through dangerous areas, ever ready to book a fast retreat should danger
    arise.
  </p>
</div>

<div id="Prep" class="tabcontent">
  <h3><span style="color: #90a959">Prep</span></h3>

  <h3>Prep Points</h3>

  <p>Scoundrels have a number of Prep Points equal to twice their Cunning.</p>

  <table>
    <thead>
      <tr>
        <th>Cunning</th>
        <th>Uses per Rest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>☐ ☐</td>
      </tr>
      <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>…</td>
        <td>…</td>
      </tr>
    </tbody>
  </table>

  <p>Prep Points can be used for a variety of purposes:</p>

  <ul>
    <li><b>Change a Kit</b> without setting up camp</li>
    <li>Use <b>I Know a Guy</b></li>
    <li>Use <b>What You Needed</b></li>
  </ul>

  <h3>I Know a Guy</h3>
  <p>
    A Scoundrel can declare that his character <strong>Knows a Guy</strong> by
    expending a Prep Point. The player describes a new non-playable character
    with some particular talent or knowledge that can help the party. The player
    should provide a name, description, and an explanation of how their
    character knows this person.
  </p>
</div>

<h3>What You Needed</h3>
<p>
  In the event that a Scoundrel needs some item that might be unusual for them
  to carry, they can use
  <b>What You Needed</b> by expending a Prep Point.
</p>
</div>

<div id="Stealth" class="tabcontent">
  <h3><span style="color: #90a959">Stealth</span></h3>

<h3>Stealth and Sneak Attacks</h3>

<p>
  By default, anyone not actively searching an area must have a higher
  <strong><span style="color: #268bd2">Perception</span></strong> than the
  Scoundrel's <strong><span style="color: #90a959">Cunning</span></strong> to
  detect them.
</p>

<p>
  Attacking while in Stealth counts as an automatic 10, providing a +2 to the
  attack without a roll.
</p>
</div>
