---
layout: default
---
    <h1>Class Mechanics</h1>

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'Alchemist')">Alchemist</button>
      <button class="tablinks" onclick="openTab(event, 'Soldier')">Soldier</button>
      <button class="tablinks" onclick="openTab(event, 'Mage')">Mage</button>
      <button class="tablinks" onclick="openTab(event, 'Scoundrel')">Scoundrel</button>
    </div>

    <!-- Tab content -->
    <div id="Alchemist" class="tabcontent" style="display: block;">
     <h3 id="alchemist"><span style="color:#268bd2">The Alchemist</span></h3>

     

</div> 

    <div id="Soldier" class="tabcontent">
     <h3 id="soldier"><span style="color:#d28445">The Soldier</span></h3>

     
</div> 



<div id="Mage" class="tabcontent">



</div>


    <div id="Scoundrel" class="tabcontent">
<h3><span style="color:#90a959">The Scoundrel</span></h3>



