---
layout: default
---
<h1>The Mage</h1>

<!-- Tab links -->
<div class="tab">
  <button
    class="tablinks active"
    onclick="openTab(event, 'Description')"
  >
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Mechanics')">
    Mechanics
  </button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
    <h3><span style="color: #953553">The Mage</span></h3>
    <p>
        The Mage forms pacts with the primal spirits of the world to perform
        miracles and spells. Some come by their magic through careful study,
        others through natural inclination or religious tradition. All Mages,
        regardless of their background, are marked by their
        dealings with spirits and become less human as they grow in power.
    </p>
    <ul>
        <li><b>Skills</b>: Aura, Focus</li>
        <li><b>Kits</b>: Black Magic, Elemental Magic, White Magic</li>
    </ul>
    <table>
        <th>Equipment and Appearance</th>
        <tr>
        <td>
            * A <b>staff, wand, book,</b> or other <b>object</b> used in your spellcasting
        </td>
        </tr>
        <tr>
        <td>
            * An <b>unnatural physical characteristic</b>, such as red irises
            or glowing tattoos
        </td>
        </tr>
        <tr>
        <td>
            * <b>Clothing that marks you as a Mage</b>, such as
            rune-embroidered robes or vestments of faith
        </td>
        </tr>
        <tr>
        <td>* A <b>voice that commands attention</b> in some way, such as a gravelly rasp or tendency to rhyme</td>
        </tr>
    </table>

    <hr />

    <h5>In combat...</h5>
    <p>
        The Mage unleashes unpredictable havoc on the enemy; striking foes
        blind, sending bolts of lighting across the battlefield, or casting
        any number of other impossibilities.
    </p>
    <h5>Socially...</h5>
    <p>
        The Mage speaks with supernatural charm. Weak-willed listeners find
        themselves hypnotically compelled by the sound of a Mage's voice, while
        those with sterner minds react with immediate distrust.
    </p>
    <h5>While exploring...</h5>
    <p>
        The Mage may call on their spirits to aid in finding hidden
        locations or communicating with the inhabitants of a foreign land.
        Their sixth sense can be helpful when dangerous magic is in the air.
    </p>
    </div>

<div id="Mechanics" class="tabcontent">
<h3 id="mage"><span style="color:#953553">Mage Mechanics</span></h3>

<h3>Cantrips</h3>

<p>The player chooses a spirit, describes an effect they want to achieve, and rolls <strong><span style="color:#953553">Aura</span></strong> to see how well it goes. Using a Mage Kit this way is called casting a <strong>Cantrip</strong>. 

<h3>Spellcasting</h3>

<p>
  Mages can combine two of their Kits to produce stronger and more complex effects. 
  Using Kits this way is called <strong>spellcasting</strong>, and requires 
  the caster to mark damage for one of their Mental Health boxes. 
  Having a higher <strong><span style="color:#953553">Focus</span></strong> allows
  Mages to cast more spells in a single day.
</p>
</div>

      

