---
layout: default
---

<h1>The Alchemist</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Alchemy')">Alchemy Basics</button>
  <!-- <button class="tablinks" onclick="openTab(event, 'Alchemic Items')">Alchemic Items</button> -->
  <button class="tablinks" onclick="openTab(event, 'Role')">Role</button>
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: #268bd2">The Alchemist</span></h3>
  <p>
    The Alchemist is a keen adventurer, keeping a watchful eye out for danger
    and a finger on the trigger. They carry a collection of handy items to throw
    at any problem that arises.
  </p>
  <ul>
    <li><b>Skills</b>: Perception, Knowledge</li>
    <li><b>Kits</b>: Drugs, Munitions, Tools</li>
  </ul>

  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>
        * A <b>crossbow</b> or <b>hand cannon</b> that can launch grenades
      </td>
    </tr>
    <tr>
      <td>
        * A <b>bandolier</b>, <b>toolbox</b>, or
        <b>collection of pouches</b> filled with potions and tools
      </td>
    </tr>
    <tr>
      <td>
        * <b>Padded clothing</b> with many pockets and
        <b>face protection</b> such as goggles or a plague doctor's mask
      </td>
    </tr>
    <tr>
      <td>
        * A <b>hefty pack</b> filled with adventuring gear such as rope and
        torches
      </td>
    </tr>
  </table>
</div>

<div id="Alchemy" class="tabcontent">
  <h3><span style="color: #268bd2">Alchemy Basics</span></h3>

  <h3>Uses Per Kit</h3>

  <p>
    Each Alchemist Kit has a limited number of uses based on the character's
    <strong><span style="color: #268bd2">Knowledge</span></strong>.
    Alchemists mark a box each time they use a specific Kit, and recover all
    boxes for all Kits when resting at camp.
  </p>

  <table>
    <thead>
      <tr>
        <th>Knowledge</th>
        <th>Uses per Rest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>☐ ☐</td>
      </tr>
      <tr>
        <td>1</td>
        <td>☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>…</td>
        <td>…</td>
      </tr>
    </tbody>
  </table>

  <h3>Sharing Items</h3>
  <p>
    As a general rule, <b>Drugs and Tools</b> can be safely shared with other party members.
    <b>Munitions</b> require party members to roll
    <strong><span style="color: #268bd2">Knowledge</span></strong> to use
    safely.
  </p>
</div>

<!-- <div id="Alchemic Items" class="tabcontent">
  <h3><span style="color: #268bd2">Alchemic Items</span></h3>
  <h3>Drugs</h3>

  <p>
    Drugs are items that player characters can consume to receive beneficial effects.
    Many restore Physical and Mental Health, allowing characters to continue adventuring
    long past their normal limits.
  </p>

  <p>
    Alchemists commonly hand out Drugs so that other characters will have them on hand
    during dangerous situations. The responsibility for managing who has what item at
    any given time belongs to the Alchemist.
  </p>

  <ul>
    <li>Using a Drug in combat does take an Action.</li>
    <li>Incapacitated characters cannot use Drugs.</li>
  </ul>

  <h3>Munitions</h3>

  <p>
    Munitions encompass grenades and bullets. Grenades produce an area of effect,
    targeting large groups of enemies and often producing an environmental hazard
    like fire. Bullets have a single target and add an additional effect to attacks.
  </p>

  <h3>Poisons</h3>

  <p>
    Poisons fall into two categories: Bloodstream Venoms and
    Contact Poisons.
  </p>

  <p>
    <b>Bloodstream Venoms</b> can be applied to weapons and ammunition. They produce
    additional effects on a successful attack.
  </p>

  <p>
    <b>Contact Poisons</b> need to be applied more subtly. Their effects trigger when
    they're breathed in, touched with bare skin, or consumed. They're generally
    ineffective in combat.
  </p>

  <h3>Tools</h3>

  <p>
    Tools are magical items that the Alchemist preps each day. Like other Alchemy
    Kits, they have a limited number of uses. However, their effects tend to be
    longer lived.
  </p>
</div> -->


<div id="Role" class="tabcontent">
  <h3><span style="color: #268bd2">Alchemist Role</span></h3>
  <h3>In combat...</h3>
  <p>
    The Alchemist keeps their distance, taking shots at range with 
    <b><span style="color: #268bd2">Perception</span></b> and spreading
    hazards across the battlefield with grenades. They may hand out potions 
    and apply poisons before a fight begins.
  </p>
  <h3>Socially...</h3>
  <p>
    The Alchemist specializes in debate using <b><span style="color: #268bd2">Knowledge</span></b>.
    Their rhetorical technique is
    well-received by the wealthy and educated, but not as effective on
    less affluent listeners.
  </p>
  <h3>While exploring...</h3>
  <p>
    The Alchemist makes for an excellent lookout. Their sharp senses and wealth
    of lore will keep the party informed of approaching dangers well before they
    arrive.
  </p>
  </div>

  <div id="Kits" class="tabcontent">
    <h3><span style="color: #268bd2">Alchemist Kits</span></h3>
  
    <table class="kits_table">
      {% for row in site.data.Alchemist %}
      <tr>
        <td><b>{{ row.Kit }}</b></td>
        <td>{{ row.Type }}</td>
        <td>{{ row.Tags }}</td>
        <td>{{ row.Description }}</td>
      </tr>
      {% endfor %}
    </table>