---
layout: default
---

<h1>The Game</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'About')">
    About
  </button>
  <button class="tablinks" onclick="openTab(event, 'Skills')">Skills</button>
  <button class="tablinks" onclick="openTab(event, 'Taking Action')">
    Taking Action
  </button>
  <button class="tablinks" onclick="openTab(event, 'Taking Damage')">
    Taking Damage
  </button>
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>

<!-- Tab content -->
<div id="About" class="tabcontent" style="display: block">
  <h3>About</h3>
  <p>
    Miracuse is a Tabletop RPG game where you and your friends play as a group
    of adventurers in a fantasy world of swords and sorcery. You'll work
    together to explore ancient ruins, fight monsters, and solve mysteries.
  </p>
  <h3>How to Play</h3>
  <p>
    One person will act as the <b>Game Master</b> (GM). They'll be responsible
    for playing the skeletons, merchants, and other people you meet in the game.
    The other members of your group are <b>Players</b>. Each player will have
    their own character that explores the world, facing challenges and helping
    to write the story of what happens.
  </p>
  <h3>Getting Started</h3>
  <p>
    Players should create a character using the <a href="game_sheets.html">Game Sheets</a>.
    They should look over the page for whichever class they choose (Alchemist, Soldier,
    Mage, or Scoundrel).

    The GM should review all of the content on this site and on the <a href="https://miracuse.github.io/gm-guide">GM Guide</a>.
    They'll want to prepare a short adventure to get everyone used to the game.
  </p>
</div>
<div id="Skills" class="tabcontent">
  <h3>Skills</h3>
  <p>
    Many of the things you do while adventuring will correspond to one of the
    eight Skills. Each class specializes in two of the eight, making them better
    suited for related tasks.
  </p>

  <table>
    <thead>
      <tr>
        <th>Skill</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong><span style="color: #268bd2">Perception</span></strong>
        </td>
        <td>Awareness, investigation, precision shooting.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #268bd2">Knowledge</span></strong>
        </td>
        <td>General know-how, rhetoric, and proficiency in alchemy.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #d28445">Bravery</span></strong>
        </td>
        <td>Willpower, intimidation, and courage.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #d28445">Physique</span></strong>
        </td>
        <td>Strength, martial arts, and physical health.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #953553">Aura</span></strong>
        </td>
        <td>
          Rapport with spirits, supernatural charisma, and talent in magic.
        </td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #953553">Focus</span></strong>
        </td>
        <td>Concentration, sixth sense, and mental fortitude.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #90a959">Cunning</span></strong>
        </td>
        <td>Stealth, misdirection, and lie detection.</td>
      </tr>
      <tr>
        <td>
          <strong><span style="color: #90a959">Agility</span></strong>
        </td>
        <td>Mobility, evasion, and reaction time.</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="Taking Action" class="tabcontent">
  <h3>Taking Action</h3>
  <p>
    When a player decides to take an action with one of the eight Skills,
    they'll roll a ten-sided die and add their character's Skill level. The
    higher the outcome, the better the result.
  </p>

  <p>
    <code class="language-plaintext highlighter-rouge"
      >Outcome = Roll Result + Skill Level</code
    >
  </p>

  <p>The table below shows how the dice roll translates to outcomes.</p>

  <table>
    <thead>
      <tr>
        <th>Roll</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>-2</td>
      </tr>
      <tr>
        <td>2, 3</td>
        <td>-1</td>
      </tr>
      <tr>
        <td>4, 5, 6, 7</td>
        <td>+0</td>
      </tr>
      <tr>
        <td>8, 9</td>
        <td>+1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>+2</td>
      </tr>
    </tbody>
  </table>

  <h3 id="examples">Example</h3>

  <p>When you want to do something as your character, tell the GM.</p>

  <blockquote>
    <p>I want to climb the cliffside.</p>
  </blockquote>

  <p>
    The GM will tell you what to do next, or what happens next if the task isn't
    too difficult.
  </p>

  <blockquote>
    <p>“Okay. Roll Agility.”</p>
  </blockquote>

  <p>The outcome of many actions depends on your Skills and your luck.</p>

  <blockquote>
    <p>I have a 0 in Agility and rolled a -1. That's a total of -1.</p>
  </blockquote>

  <p>The GM will interpret your results and tell you what happens next.</p>

  <blockquote>
    <p>
      “You got a -1? That's not good. You get to the top, but it took a lot out
      of you. Mark a point of Physical damage.”
    </p>
  </blockquote>
</div>

<div id="Taking Damage" class="tabcontent">
  <h3 id="Taking Damage">Taking Damage</h3>
  <p>
    While adventuring, characters are guaranteed to find themselves in harm's
    way. When this happens the GM will tell you to mark
    <strong>Damage</strong>.
  </p>

  <table>
    <thead>
      <tr>
        <th>Damage Track</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Physical</td>
        <td><strong>☑</strong></td>
        <td>☐</td>
        <td>☐</td>
      </tr>
      <tr>
        <td>Mental</td>
        <td>☐</td>
        <td>☐</td>
        <td>☐</td>
      </tr>
    </tbody>
  </table>

  <p>
    Characters with points in
    <strong><span style="color: #d28445">Physique</span></strong> or
    <strong><span style="color: #953553">Focus</span></strong> start each day
    with extra boxes in one of the two tracks. They can withstand more damage
    before being taken out.
  </p>

  <h3>Being Taken Out</h3>
  <p>
    A character that marks all of their boxes in either track is taken out of
    play for a short time. They become incapacitated and injured.
  </p>

  <ul>
    <li>
      <p>
        <strong>Incapacitated</strong> characters cannot act until their damage
        track is completely clear, either by resting at camp or by receiving
        treatment.
      </p>
    </li>
    <li>
      <p>
        <strong>Injured</strong> characters take a -1 penalty to relevant rolls
        until they rest at camp. The GM will describe what kind of injury your
        character receives.
      </p>
    </li>
  </ul>

  <h3 id="overflow-damage-and-injuries">Overflow Damage and Injuries</h3>

  <p>When incapacitated, any additional damage has no effect.</p>

  <p>
    Likewise, characters can only have one Physical and one Mental injury at a
    time. Becoming incapacitated with an injury will not cause any additional
    effects.
  </p>
</div>

<div id="Kits" class="tabcontent">
  <h3 id="kits">Kits</h3>
  <p>
    Each class has their own list of abilities, called Kits. Players can choose
    up to four Kits at any given time, and are encouraged to change their Kits
    whenever their characters rest. A full list of Kits can be found on the
    <a href="kits_table.html">Kits Table</a>.
  </p>



  <table>
    {% assign row = site.data.Soldier[1] %}
      <tr>
        <td><b>{{ row.Kit }}</b></td>
        <td>{{ row.Description }}</td>
      </tr>
  </table>

  <h3>What Kind of Day Is Today?</h3>

  <p>
    Different Kits will make characters better suited for combat, exploration,
    or social encounters. A Soldier expecting to spend the day exploring the
    woods might use a selection of Kits that help with hazards and scouting. The
    same character might change their Kits to emphasize combat if they stumble
    onto an orc warcamp.
  </p>

  <p>
    The better equipped you are for the day ahead, the more successful you're
    likely to be. Be sure to keep aware of what kinds of dangers are ahead and
    prepare appropriately.
  </p>
</div>
