---
layout: default
---

<h1>The Soldier</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Fortune')">Fortune</button>
  <button class="tablinks" onclick="openTab(event, 'Techniques')">Techniques</button>
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: {{ site.soldier_color }}">The Soldier</span></h3>
  <p>
    The Soldier is a warrior without peer. They may be knights, bandits,
    infantrymen, or come from other walks of life. What makes one a Soldier is
    not their profession but their skill at arms, courage, and a surprising
    amount of luck.
  </p>
  <ul>
    <li><b>Skills</b>: Strength, Bravery</li>
    <li><b>Subclasses</b>: Fencer, Knight, Myrmidon</li>
  </ul>

  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>* A <b>melee weapon</b> such as a sword, spear, or bayonet</td>
    </tr>
    <tr>
      <td>* A <b>ranged weapon</b> such as a longbow, musket, or flintlocks</td>
    </tr>
    <tr>
      <td>* <b>Armor</b> ranging from thick leathers to metal plates</td>
    </tr>
    <tr>
      <td>
        * A <b>sign of rank</b>, <b>storied weapon</b>, or other <b>marking of prowess</b>
      </td>
    </tr>
  </table>
</div>

<div id="Fortune" class="tabcontent">
  <h3><span style="color: {{ site.soldier_color }}">Fortune</span></h3>
  <h3>Fortune Points</h3>

  <p>
    Soldiers have a number of <strong>Fortune Points</strong> equal to two times
    their <strong><span style="color: {{ site.soldier_color }}">Bravery</span></strong
    >. Fortune Points can be used to reroll any action the Soldier takes.
  </p>

  <table>
    <thead>
      <tr>
        <th>Bravery</th>
        <th>Uses per Rest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>☐ ☐</td>
      </tr>
      <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>…</td>
        <td>…</td>
      </tr>
    </tbody>
  </table>

  <h3>More Details</h3>
  <ul>
    <li>
      Fortune Points can only be used once per roll.
    </li>
    <li>
      Fortune Points can only be used once per action in combat.
    </li>
    <li>
      Fortune Points can be used for any action where the player rolls, not just
      for combat.
    </li>
    <li>
      Players take the result of the second roll, even if the result is worse.
    </li>
    <li>
      Fortune Points can be recovered by resting or through certain Kits.
    </li>
  </ul>
</div>

<div id="Role" class="tabcontent">
  <h3><span style="color: {{ site.soldier_color }}">Soldier Role</span></h3>
  <h3>In combat...</h3>
  <p>
    The Soldier is often at the frontlines, terrorizing enemies and bringing
    ruin to those that approach. Their
    <b><span style="color: {{ site.soldier_color }}">Strength</span></b>
    makes them dangerous and hardy opponents.
  </p>
  <h3>Socially...</h3>
  <p>
    The Soldier is an imposing figure. They carry an air of
    <b><span style="color: {{ site.soldier_color }}">Bravery</span></b>
    that impresses like-minded persons and cows others. Less militant audiences
    may be put off by their demeanor, seeing them as brutish and curt.
  </p>
  <h3>While exploring...</h3>
  <p>
    The Soldier provides raw muscle, breaking down obstacles by sheer force.
    Their abundant luck has saved many a party from unexpected traps and
    ambushes.
  </p>
</div>

<div id="Techniques" class="tabcontent">
  <h3><span style="color: {{ site.soldier_color }}">Techniques</span></h3>
  {% include example_kit.html %}
  <p>
    Techniques are Kits that modify attacks. They add additional
    effects, such as increasing damage, hitting multiple enemies, or
    targeting multiple enemies at once.
  </p>

  <p>
    In addition to their passive effect, Techniques can also be amplified
    or mixed together by expending Fortune Points. Two examples are provided
    on this page, but the effects are based on what the Player is trying to
    accomplish rather than a preset list of outcomes.
  </p>

  <ul>
    <li><b>Cleave (Amplified)</b>: Greatly expand the area-of-effect of your attack.</li>
    <li><b>Cleave + Sunder</b>: Make an area-of-effect attack that deals two boxes of 
      Physical damage to all enemies and objects in range.</li>
  </ul>
</div>

<div id="Kits" class="tabcontent">
  <h3><span style="color: {{ site.soldier_color }}">Soldier Kits</span></h3>

  <table class="kits_table">
    {% for row in site.data.Soldier %}
    <tr>
      <td><b>{{ row.Kit }}</b></td>
      <td>{{ row.Type }}</td>
      <td>{{ row.Tags }}</td>
      <td>{{ row.Description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>