---
layout: default
---

<h1>The Soldier</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Fortune')">Fortune</button>
  <button class="tablinks" onclick="openTab(event, 'Morale')">Morale</button>
  <button class="tablinks" onclick="openTab(event, 'Role')">Role</button>
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: #d28445">The Soldier</span></h3>
  <p>
    The Soldier is a warrior without peer. They may be knights, bandits,
    infantrymen, or come from other walks of life. What makes one a Soldier is
    not their profession but their skill at arms, courage, and a surprising
    amount of luck.
  </p>
  <ul>
    <li><b>Skills</b>: Physique, Bravery</li>
    <li><b>Kits</b>: Fortune, Discipline, Valor</li>
  </ul>

  <table>
    <th>Equipment and Appearance</th>
    <tr>
      <td>* A <b>melee weapon</b> such as a sword, spear, or bayonet</td>
    </tr>
    <tr>
      <td>* A <b>ranged weapon</b> such as a longbow, musket, or flintlocks</td>
    </tr>
    <tr>
      <td>* <b>Armor</b> ranging from thick leathers to metal plates</td>
    </tr>
    <tr>
      <td>
        * A <b>sign of rank</b>, storied weapon, or other marking of prowess
      </td>
    </tr>
  </table>
</div>

<div id="Fortune" class="tabcontent">
  <h3><span style="color: #d28445">Fortune</span></h3>
  <h3>Fortune Points</h3>

  <p>
    Soldiers have a number of <strong>Fortune Points</strong> equal to two times
    their <strong><span style="color: #d28445">Bravery</span></strong
    >. Fortune Points can be used to reroll any action the Soldier takes.
  </p>

  <table>
    <thead>
      <tr>
        <th>Bravery</th>
        <th>Uses per Rest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>☐ ☐</td>
      </tr>
      <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>…</td>
        <td>…</td>
      </tr>
    </tbody>
  </table>

  <h3>More Details</h3>
  <ul>
    <li>
      Fortune Points can only be used once per roll.
    </li>
    <li>
      Fortune Points can only be used once per action in combat.
    </li>
    <li>
      Fortune Points can be used for any action where the player rolls, not just
      for combat.
    </li>
    <li>
      Players take the result of the second roll, even if the result is worse.
    </li>
    <li>
      Fortune Points can be recovered by resting or through certain Kits.
    </li>
  </ul>
</div>

<div id="Morale" class="tabcontent">
  <h3><span style="color: #d28445">Morale</span></h3>

  <h3>Intimidate</h3>

  <p>The Soldier influences an enemy to make distance or retreat altogether.</p>

  <h3>Provoke</h3>

  <p>The Soldier focuses the attention of an enemy on themselves.</p>

  <h3>Rally</h3>

  <p>The Soldier gives an ally Advantage on their next combat-related roll.</p>

  <h3>Out of Combat</h3>

  <p>
    The <b><span style="color: #d28445">Bravery</span></b> Skill can be used in
    social circumstances as well. Soldiers can intimidate bandits into walking
    away from a fight, provoke a guard to cause a distraction while others sneak
    away, or rally town folk into a mob.
  </p>
</div>

<div id="Role" class="tabcontent">
  <h3><span style="color: #d28445">Soldier Role</span></h3>
  <h3>In combat...</h3>
  <p>
    The Soldier is often at the frontlines, terrorizing enemies and bringing
    ruin to those that approach. Their
    <b><span style="color: #d28445">Physique</span></b>
    makes them dangerous and hardy opponents.
  </p>
  <h3>Socially...</h3>
  <p>
    The Soldier is an imposing figure. They carry an air of
    <b><span style="color: #d28445">Bravery</span></b>
    that impresses like-minded persons and cows others. Less militant audiences
    may be put off by their demeanor, seeing them as brutish and curt.
  </p>
  <h3>While exploring...</h3>
  <p>
    The Soldier provides raw muscle, breaking down obstacles by sheer force.
    Their abundant luck has saved many a party from unexpected traps and
    ambushes.
  </p>
</div>

<div id="Kits" class="tabcontent">
  <h3><span style="color: #d28445">Soldier Kits</span></h3>

  <table class="kits_table">
    {% for row in site.data.Soldier %}
    <tr>
      <td><b>{{ row.Kit }}</b></td>
      <td>{{ row.Type }}</td>
      <td>{{ row.Tags }}</td>
      <td>{{ row.Description }}</td>
    </tr>
    {% endfor %}
  </table>
