---
layout: default
---
<h1>The Scoundrel</h1>

<!-- Tab links -->
<div class="tab">
  <button
    class="tablinks active"
    onclick="openTab(event, 'Description')"
  >
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Mechanics')">
    Mechanics
  </button>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
<h3><span style="color: #90a959">The Scoundrel</span></h3>
    <p>
        The Scoundrel is a master of misdirection. They blend in with crowds
        and shadows, only revealing themselves when the time is right. Many
        employ their talents as hunters or merchants, though it's just as
        common to see them working as thieves and assassins.
    </p>
    <ul>
        <li><b>Skills</b>: Cunning, Agility</li>
        <li><b>Kits</b>: Criminal, Hunter, Performer</li>
    </ul>
    <table>
        <th>Equipment and Appearance</th>
        <tr>
        <td>
            * An easily hidden <b>melee weapon</b>, such as a dagger or
            garrote
        </td>
        </tr>
        <tr>
        <td>
            * An unassuming <b>ranged weapon</b>, such as throwing knives or a
            shortbow
        </td>
        </tr>
        <tr>
        <td>
            * <b>Inconspicuous clothes</b> for traveling, and
            <b>fashionable dress</b> for formal affairs
        </td>
        </tr>
        <tr>
        <td>
            * Lockpicks, wire cutters, and other <b>thieves' tools</b> hidden
            on your person
        </td>
        </tr>
    </table>

    <hr />

    <h5>In combat...</h5>
    <p>
        The Scoundrel waits for the right opportunity to dispatch an enemy,
        showing a preference for dangerous targets like mages. Once exposed
        they might make a hasty getaway, or throw themselves into the fight
        with a frenzy of quick strikes.
    </p>
    <h5>Socially...</h5>
    <p>
        The Scoundrel bewilders and confuses with fast-talk. Perhaps because
        of their ability to present an friendly face, many also have an
        affinity for working with animals. Listeners that prefer a
        straightforward response will quickly tire of the Scoundrel's evasive
        speech.
    </p>
    <h5>While exploring...</h5>
    <p>
        The Scoundrel is nearly always the scout of a party. They move unseen
        through dangerous areas, ever ready to book a fast retreat should
        danger arise.
    </p>
</div>

<div id="Mechanics" class="tabcontent">
<h3><span style="color: #90a959">Scoundrel Mechanics</span></h3>

<h3>Stealth</h3>

  <p>
    Scoundrels rarely attract notice unless they want to. By default, anyone not actively
    searching an area must have a higher <strong><span style="color:#268bd2">Perception</span></strong>
    than the Scoundrel's <strong><span style="color:#90a959">Cunning</span></strong> to detect them.
  </p>

  <p>
    Additionally, <strong>Stealth</strong> does not require a dice roll.
    Scoundrels are assumed to be hidden unless they're discovered, or someone is actively looking for them.
  </p>

<h3>Sneak Attacks</h3>

  <p>
    Attacking while in Stealth counts as an automatic 10, providing a +2 to the attack without a roll.
  </p>

<h3>I Know a Guy</h3>
  <p>
    A player can declare that his character <strong>Knows a Guy</strong> with some particular talent 
    or knowledge that can help the party. The player describes a new NPC, giving them a name and short
    background, before rolling <strong><span style="color:#90a959">Cunning</span></strong> to see how
    well-aquatinted their character is with the NPC.
  </p>
</div>

      

