---
layout: default
---
    <h1>Class Mechanics</h1>

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'Alchemist')">Alchemist</button>
      <button class="tablinks" onclick="openTab(event, 'Soldier')">Soldier</button>
      <button class="tablinks" onclick="openTab(event, 'Mage')">Mage</button>
      <button class="tablinks" onclick="openTab(event, 'Scoundrel')">Scoundrel</button>
    </div>

    <!-- Tab content -->
    <div id="Alchemist" class="tabcontent" style="display: block;">
     <h3 id="alchemist"><span style="color:#268bd2">The Alchemist</span></h3>

     <h3>Uses Per Rest</h3>

<p>
  Each Alchemist Kit has a limited number of uses based on the character's
  <strong><span style="color:#268bd2">Knowledge</span></strong>.
  Alchemists mark a box each time they use a specific Kit, and clear all boxes
  for all Kits when resting at camp.
</p>

<table>
  <thead>
    <tr>
      <th>Knowledge</th>
      <th>Uses per Rest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>☐ ☐</td>
    </tr>
    <tr>
      <td>1</td>
      <td>☐ ☐ ☐</td>
    </tr>
    <tr>
      <td>2</td>
      <td>☐ ☐ ☐ ☐</td>
    </tr>
    <tr>
      <td>…</td>
      <td>…</td>
    </tr>
  </tbody>
</table>

<h3>What You Needed</h3>
<p>
  Inventory management handled in narrative fashion. Instead of tracking each individual
  item on their person, characters are assumed to be carrying whatever might be reasonable
  given their class and background.
</p>
<p>
  In the event that a character needs some item that might be unusual for them to carry (such as 
  a bag of ball bearings), they can roll <strong><span style="color:#268bd2">Knowledge</span></strong>
  to see whether or not they thought ahead and prepared that item ahead of time.
</p>

</div> 

    <div id="Soldier" class="tabcontent">
     <h3 id="soldier"><span style="color:#d28445">The Soldier</span></h3>

     <h3>Fortune Points</h3>

<p>
  Soldiers have a number of <strong>Fortune Points</strong> equal to
  two times their <strong><span style="color:#d28445">Bravery</span></strong>.
  Fortune Points can be used to reroll any action the Soldier takes.
</p>

<table>
  <thead>
    <tr>
      <th>Bravery</th>
      <th>Uses per Rest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>☐ ☐ </td>
    </tr>
    <tr>
      <td>2</td>
      <td>☐ ☐ ☐ ☐</td>
    </tr>
    <tr>
      <td>…</td>
      <td>…</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>Fortune Points can only be used once per roll</li>
  <li>Fortune Points reset after resting </li>
  <li>Fortune Points can be used for any action where the player rolls, not just for combat</li>
</ul>

<h3>Morale</h3>

<p>
  In addition to being resilient against mind-affecting attacks, Soldiers can exert control
  over the morale of friend and foes. 
</p>

<p>
  They can spend their action to <strong>Provoke</strong> or <strong>Intimidate</strong> 
  enemies using <strong><span style="color:#d28445">Bravery</span></strong>,
  convincing them to either focus their attacks on the Soldier or retreat altogether. 
  Alternatively, Soldiers can <strong>Rally</strong> allies using the same approach, 
  providing Advantage on their next roll. 
</p>
</div> 



      <div id="Mage" class="tabcontent">
<h3 id="mage"><span style="color:#953553">The Mage</span></h3>

<h3>Cantrips</h3>

<p>Mage Kits are open ended in their use. The player chooses a spirit, describes an effect they want to achieve, and rolls <strong><span style="color:#953553">Aura</span></strong> to see how well it goes. Using a Mage Kit this way is called casting a <strong>Cantrip</strong>. Two examples are shown below, though more can be found on the <a
  href="https://docs.google.com/spreadsheets/d/1cY4KWxl4hnFNa8pxADSHeHmIqlgBL4068uAnY5wtHQg/edit?usp=sharing"
  >Interactive Game Sheets</a
></p>

<table>
  <thead>
    <tr>
      <th>Cantrip</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Firebolt</td>
      <td>Spirit of Fire; do Physical damage to an enemy by throwing fire.</td>
    </tr>
    <tr>
      <td>Torch</td>
      <td>Spirit of Fire; create a small flame above your palm that sheds light.</td>
    </tr>
  </tbody>
</table>

<h3>Spellcasting</h3>

<p>
  Mages can combine two of their Kits to produce stronger and more complex effects. 
  Using Kits in this fashion is called <strong>spellcasting</strong>, and requires 
  the caster to mark damage for one of their Mental Health boxes. 
  Having a higher <strong><span style="color:#953553">Focus</span></strong> allows
  Mages to cast more spells in a single day.
</p>

<table>
  <thead>
    <tr>
      <th>Spell</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fireball</td>
      <td>Spirit of Fire + Air; an area-of-effect Physical attack that sets the surroundings on fire.</td>
    </tr>
    <tr>
      <td>Stone Wall</td>
      <td>Spirit of Earth + Warding; creates a wall of rock to serve as a barricade.</td>
    </tr>
  </tbody>
</table>
</div>


    <div id="Scoundrel" class="tabcontent">
<h3><span style="color:#90a959">The Scoundrel</span></h3>

<h3>Stealth</h3>

  <p>
    Scoundrels rarely attract notice unless they want to. By default, anyone not actively
    searching an area must have a higher <strong><span style="color:#268bd2">Perception</span></strong>
    than the Scoundrel's <strong><span style="color:#90a959">Cunning</span></strong> to detect them.
  </p>

  <p>
    Unlike many other applications of Skills, <strong>Stealth</strong> does not require a dice roll.
    The player character is assumed to be hidden unless they take a noticeable action, such as
    attacking an enemy.
  </p>

<h3>Sneak Attacks</h3>

<p>
  Attacking while in Stealth counts as an automatic roll of 10, requiring no roll and dealing the 
  maximum damage possible.
</p>

<p>
  Sneak attacks can be a powerful tool, but players should note that performing one removes their 
  character from Stealth. Unfortunate Scoundrels may find that their ambush has left them exposed to
  retribution.
</p>

<h3>I Know a Guy</h3>
<p>
  A player can declare that his character <strong>Knows a Guy</strong> with some particular knowledge 
  or role that can help the party. The player describes a new NPC, giving them a name and short
  background, before rolling <strong><span style="color:#90a959">Cunning</span></strong> to see how
  well-aquatinted their character is with the NPC.
</p>
<p>
  High rolls translate into a friendly relationship, while low rolls may mean that the player character is on bad terms with them.
</p>
