---
layout: default
---

<h1>The Alchemist</h1>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'Description')">
    Description
  </button>
  <button class="tablinks" onclick="openTab(event, 'Alchemy')">Alchemy Basics</button>
  <button class="tablinks" onclick="openTab(event, 'Items')">Items</button>
  <button class="tablinks" onclick="openTab(event, 'Kits')">Kits</button>
</div>
</div>

<!-- Tab content -->
<div id="Description" class="tabcontent" style="display: block">
  <h3><span style="color: {{ site.alchemist_color }}">The Alchemist</span></h3>
  <p>
    The Alchemist is a keen adventurer, keeping a watchful eye out for danger
    and a finger on the trigger. They carry a collection of handy items to throw
    at any problem that arises.
  </p>
  <ul>
    <li><b>Skills</b>: Perception, Knowledge</li>
    <li><b>Subclasses</b>: Chemist, Enchanter, Sapper</li>
  </ul>

  <table>
    <th>Suggested Equipment and Appearance</th>
    <tr>
      <td>
        * A <b>crossbow</b> or <b>hand cannon</b> that can launch grenades
      </td>
    </tr>
    <tr>
      <td>
        * A <b>bandolier</b>, <b>toolbox</b>, or
        <b>collection of pouches</b> filled with potions and tools
      </td>
    </tr>
    <tr>
      <td>
        * <b>Padded clothing</b> with many pockets and
        <b>face protection</b> such as goggles or a plague doctor's mask
      </td>
    </tr>
    <tr>
      <td>
        * A <b>hefty pack</b> filled with adventuring gear such as rope and
        torches
      </td>
    </tr>
  </table>
</div>

<div id="Alchemy" class="tabcontent">
  <h3><span style="color: {{ site.alchemist_color }}">Alchemy Basics</span></h3>

  <p>
    Each Alchemist Kit has a limited number of uses based on the character's
    <strong><span style="color: {{ site.alchemist_color }}">Knowledge</span></strong>.
    Alchemists mark a box each time they use a specific Kit, and recover all
    boxes for all Kits when resting at camp.
  </p>

  <table>
    <thead>
      <tr>
        <th>Knowledge</th>
        <th>Uses per Rest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>☐ ☐</td>
      </tr>
      <tr>
        <td>1</td>
        <td>☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>2</td>
        <td>☐ ☐ ☐ ☐</td>
      </tr>
      <tr>
        <td>…</td>
        <td>…</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="Items" class="tabcontent">
  <h3><span style="color: {{ site.alchemist_color }}">Items</span></h3>
  <table>
    {% assign row = site.data.Alchemist[0] %}
    <tr>
      <td>{{ row.Class }}</td>
      <td>{{ row.Type }}</td>
      <td><b>{{ row.Kit }}</b></td>
      <td>{{ row.Description }}</td>
    </tr>
  </table>

  <ul>
    <li><b>Potions</b> are consumable liquids that provide beneficial effects.</li>
    <li><b>Substances</b> are versatile compounds that can produce a variety of effects in the hands of an Alchemist.</li>
    <li><b>Grenades</b> are dangerous explosives that inflict may damage and cause hazards in an area-of-effect.</li>
    <li><b>Bullets</b> are modified projectiles with additional effects.</li>
    <li><b>Tools</b> are Alchemy Kits that don't fall under one of the other categories.</li>
  </ul>

  <p>
    <b>Note:</b> Potions are the only Alchemy Kits that other classes can safely use.
    Non-Alchemist Players can roll Knowledge to try to use the other categories, though
    failure can cause disastrous results.
  </p>
</div>


<div id="Role" class="tabcontent">
  <h3><span style="color: {{ site.alchemist_color }}">Alchemist Role</span></h3>
  <h3>In combat...</h3>
  <p>
    The Alchemist keeps their distance, taking shots at range with 
    <b><span style="color: {{ site.alchemist_color }}">Perception</span></b> and spreading
    hazards across the battlefield with grenades. They may hand out potions 
    and apply poisons before a fight begins.
  </p>
  <h3>Socially...</h3>
  <p>
    The Alchemist specializes in debate using <b><span style="color: {{ site.alchemist_color }}">Knowledge</span></b>.
    Their rhetorical technique is
    well-received by the wealthy and educated, but not as effective on
    less affluent listeners.
  </p>
  <h3>While exploring...</h3>
  <p>
    The Alchemist makes for an excellent lookout. Their sharp senses and wealth
    of lore will keep the party informed of approaching dangers well before they
    arrive.
  </p>
  </div>

  <div id="Kits" class="tabcontent">
    <h3><span style="color: {{ site.alchemist_color }}">Alchemist Kits</span></h3>
  
    <table class="kits_table">
      {% for row in site.data.Alchemist %}
      <tr>
        <td><b>{{ row.Kit }}</b></td>
        <td>{{ row.Type }}</td>
        <td>{{ row.Tags }}</td>
        <td>{{ row.Description }}</td>
      </tr>
      {% endfor %}
    </table>