---
layout: default
---

<h1>Miscellaneous</h1>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'Custom Classes')">
      Custom Classes
    </button>
    <button class="tablinks" onclick="openTab(event, 'Advancement')">
      Advancement
    </button>
</div>

<div id="Custom Classes" class="tabcontent" style="display: block">
    <h3>Custom Classes</h3>
    <p>
        The four Classes can be used for many character concepts, but Players may 
        also choose to modify their starting Skills to better reflect a particular
        character concept. For example, a <b><span style="color: {{ site.paladin_color }}">Paladin</span></b> might mix a <b><span style="color: {{ site.soldier_color }}">Soldier's</span></b> Skills with a 
        <b><span style="color: {{ site.mage_color }}">Mage's</span></b> Kits to create a character that can use magic and fight with weapons.
    </p>

    <h3>Creating a Custom Class</h3>
    <ul>
        <li>Choose one Subclass (i.e. Priest, Bard) from any of the Classes</li>
        <li>Choose one of the following Skill distributions</li>
        <ul>
            <li>Standard (Two Skills at +2)</li>
            <li>Versatile (One Skill at +2, Two Skills at +1)</li>
        </ul>
    </ul>

    <hr />

    <h3>Example: <b><span style="color: {{ site.paladin_color }}">Paladin</span></b></h3>
    <h5>
        Subclass:
    </h5>
    <ul>
        <li><b><span style="color: {{ site.mage_color }}">Mage</span></b>/Priest</li>
    </ul>

    <h5>
        Skills:
    </h5>
    <ul>
        <li><b><span style="color: {{ site.soldier_color }}">Strength</span></b> +2</li>
        <li><b><span style="color: {{ site.soldier_color }}">Bravery</span></b> +1</li>
        <li><b><span style="color: {{ site.mage_color }}">Magic</span></b> +1</li>
    </ul>

    <h5>
        Description:
    </h5>
    <p>
        A holy knight trained in the arts of war and magic. Paladins
        aren't well-suited to spellcasting, but gain a great deal of
        versatility from their access to Priest Kits. Likewise, Paladins
        have none of the martial Kits of a Soldier, but have similar 
        durability and Strength.
    </p>
</div>

<div id="Advancement" class="tabcontent">
    <h3>Advancement</h3>

    <b>Coming Soon</b>

</div>

<div id="Healing" class="tabcontent">
    <h3>Healing</h3>

    Although <b>Making Camp</b> is the primary way to recover from damage and injuries,
    other options exist for certain Subclasses.

    <h3>Skill Use</h3>

    <ul>
        <li>(Alchemist) Elixir</li>
        <li>(Soldier) Hospitaler</li>
        <li>(Mage) Spirit of Restoration</li>
    </ul>

    When using these Kits, roll the associated Skill (such as Magic or Knowledge). The result
    determines either how many boxes of damage are cleared or whether or not a narrative
    outcome was achieved.

    <ul>
        <li>Restoring Physical damage</li>
        <li>Treating an affliction (poison, disease, etc.)</li>
        <li>Reviving someone from incapacitation</li>
    </ul>

    <p>
        <b>Note:</b> The Alchemist's <i>Elixir</i> and the Scoundrel's <i>Herbalist</i> are
        the only Kits that can recover Mental health. 
    </p>

    </div>