---
layout: default
---
      <h1>Who You Are</h1>

      <!-- Tab links -->
      <div class="tab">
        <button
          class="tablinks active"
          onclick="openTab(event, 'Alchemist')"
        >
          Alchemist
        </button>
        <button class="tablinks" onclick="openTab(event, 'Soldier')">
          Soldier
        </button>
        <button class="tablinks" onclick="openTab(event, 'Mage')">
          Mage
        </button>
        <button class="tablinks" onclick="openTab(event, 'Scoundrel')">
          Scoundrel
        </button>
        <button class="tablinks" onclick="openTab(event, 'Someone Else')">
          Someone Else
        </button>
      </div>

      <!-- Tab content -->
      <div id="Alchemist" class="tabcontent" style="display: block">
        <h3><span style="color: #268bd2">The Alchemist</span></h3>
        <p>
          The Alchemist is a keen adventurer, keeping a watchful eye out for danger 
          and a finger on their crossbow trigger. They carry a collection of handy
          items to throw at any problem that arises.
        </p>
        <ul>
          <li><b>Skills</b>: Perception, Knowledge</li>
          <li><b>Kits</b>: Bombs, Drugs, Poisons, Tools</li>
        </ul>

        <table>
          <th>Equipment and Appearance</th>
          <tr>
            <td>
              * A <b>crossbow</b> built to shoot poison-laced bolts and lob
              grenades
            </td>
          </tr>
          <tr>
            <td>* A <b>bandolier</b> or belt filled with potions and tools</td>
          </tr>
          <tr>
            <td>* <b>Padded clothing</b> with many pockets</td>
          </tr>
          <tr>
            <td>
              * A <b>pack filled with adventuring gear</b> such as rope and
              torches
            </td>
          </tr>
        </table>

        <hr />

        <h5>In combat...</h5>
        <p>
          The Alchemist keeps their distance, taking shots with a crossbow and
          spreading hazards across the battlefield with grenades. With prior
          warning they can turn the odds in their team's favor by handing out 
          potions and applying poison to weapons.
        </p>
        <h5>Socially...</h5>
        <p>
          The Alchemist specializes in debate. Their rhetorical technique is 
          well-received by the wealthy and educated, but generally ineffectual
          towards less affluent listeners.
        </p>
        <h5>While exploring...</h5>
        <p>
          The Alchemist makes for an excellent lookout. Their sharp senses and
          wealth of lore will keep the party informed of approaching dangers
          well before they arrive.
        </p>
      </div>

      <div id="Soldier" class="tabcontent">
        <h3><span style="color: #d28445">The Soldier</span></h3>
        <p>
          The Soldier is a warrior without peer. They may be knights, bandits,
          infantrymen, or come from other walks of life. What makes one a
          Soldier is not their profession but their skill at arms, courage, and
          a surprising amount of luck.
        </p>
        <ul>
          <li><b>Skills</b>: Physique, Bravery</li>
          <li><b>Kits</b>: Fortune, Discipline, Valor</li>
        </ul>

        <table>
          <th>Equipment and Appearance</th>
          <tr>
            <td>* A <b>melee weapon</b> such as a sword, spear, or bayonet</td>
          </tr>
          <tr>
            <td>
              * A <b>ranged weapon</b> such as a longbow, musket, or flintlock
            </td>
          </tr>
          <tr>
            <td>* <b>Armor</b> ranging from thick leathers to metal plates</td>
          </tr>
          <tr>
            <td>
              * A <b>sign of rank</b>, badge of honor, or other object
              signifying prowess
            </td>
          </tr>
        </table>

        <hr />

        <h5>In combat...</h5>
        <p>
          The Soldier is often at the frontlines, terrorizing enemies and bringing
          ruin to those that approach. They may serve as a vanguard preventing
          foes from reaching more fragile members of the party.
        </p>
        <h5>Socially...</h5>
        <p>
          The Soldier is an imposing figure. They carry an air of self assurance
          that impresses like-minded persons and cows lesser folk. Less militant
          audiences may be put off by their demeanor, seeing them as brutish and
          curt.
        </p>
        <h5>While exploring...</h5>
        <p>
          The Soldier is in charge of dealing with obstacles that
          require raw strength. They may be called upon to break down doors or
          lift debris out of the way.
        </p>
      </div>

      <div id="Mage" class="tabcontent">
        <h3><span style="color: #953553">The Mage</span></h3>
        <p>
          The Mage forms pacts with the primal spirits of the world to perform
          miracles and spells. Some come by their magic through careful study,
          others through natural inclination or religious tradition. All Mages,
          regardless of their background, are marked by their
          dealings with spirits and become less human as they grow in power.
        </p>
        <ul>
          <li><b>Skills</b>: Aura, Focus</li>
          <li><b>Kits</b>: Black Magic, Elemental Magic, White Magic</li>
        </ul>
        <table>
          <th>Equipment and Appearance</th>
          <tr>
            <td>
              * A staff, wand, book, or other <b>object used in your magic</b>
            </td>
          </tr>
          <tr>
            <td>
              * An <b>unnatural physical characteristic</b>, such as red irises
              or glowing tattoos
            </td>
          </tr>
          <tr>
            <td>
              * <b>Clothing that marks you as a Mage</b>, such as
              rune-embroidered robes or vestments of faith
            </td>
          </tr>
          <tr>
            <td>* A <b>voice that commands attention</b></td>
          </tr>
        </table>

        <hr />

        <h5>In combat...</h5>
        <p>
          The Mage unleashes unpredictable havoc on the enemy; striking foes
          blind, sending bolts of lighting across the battlefield, or loosing
          any number of other impossibilities. Their potential for destruction makes
          Mages a high priority target in fights.
        </p>
        <h5>Socially...</h5>
        <p>
          The Mage speaks with supernatural charm. Weak-willed listeners find
          themselves hypnotically compelled by the sound of a Mage's voice, while
          those with sterner minds react with immediate distrust.
        </p>
        <h5>While exploring...</h5>
        <p>
          The Mage may call on their spirits to aid in finding hidden
          locations or communicating with nearby wildlife. Their sixth sense can
          be helpful when dangerous magic is nearby.
        </p>
      </div>

      <div id="Scoundrel" class="tabcontent">
        <h3><span style="color: #90a959">The Scoundrel</span></h3>
        <p>
          The Scoundrel is a master of misdirection. They blend in with crowds
          and shadows, never drawing attention unless they choose to. Many
          employ their talents as hunters or merchants, though it's just as
          common to see them working as thieves and assassins.
        </p>
        <ul>
          <li><b>Skills</b>: Cunning, Agility</li>
          <li><b>Kits</b>: Criminal, Hunter, Performer</li>
        </ul>
        <table>
          <th>Equipment and Appearance</th>
          <tr>
            <td>
              * An <b>easily hidden melee weapon</b>, such as a dagger or
              garrote
            </td>
          </tr>
          <tr>
            <td>
              * An <b>unassuming ranged weapon</b>, such as throwing knives or a
              shortbow
            </td>
          </tr>
          <tr>
            <td>
              * <b>Inconspicuous clothes</b> for traveling, and
              <b>fashionable dress</b> for formal affairs
            </td>
          </tr>
          <tr>
            <td>
              * Lockpicks, wire cutters, and other <b>thief's tools</b> hidden
              on your person
            </td>
          </tr>
        </table>

        <hr />

        <h5>In combat...</h5>
        <p>
          The Scoundrel waits for the right opportunity to dispatch an enemy,
          showing a preference for dangerous targets like mages. Once exposed
          they might make a hasty getaway, or throw themselves into the fight
          in a frenzy of quick strikes.
        </p>
        <h5>Socially...</h5>
        <p>
          The Scoundrel bewilders and confuses with fast-talk. Perhaps because
          of their ability to present an friendly face, many also have an
          affinity for working with animals. Listeners that prefer a
          straightforward response will quickly tire of the Scoundrel's evasive
          speech.
        </p>
        <h5>While exploring...</h5>
        <p>
          The Scoundrel is nearly always the scout of a party. They move unseen
          through dangerous areas, ever ready to book a fast retreat should
          danger arise.
        </p>
      </div>

      <div id="Someone Else" class="tabcontent">
        <h3>Someone Else</h3>
        <p>
          Many adventurers borrow pieces from different trades, becoming
          something altogether unique. Some basic brainstorming is covered here,
          but more details can be found on the
          <a href="hybrid_classes.html">Hybrid Classes</a> page.
        </p>
        <ul>
          <li><b>Skills</b>: Three of Your Choice</li>
          <li><b>Kits</b>: Two of Your Choice</li>
        </ul>
        <table>
          <th>Equipment and Appearance</th>
          <tr>
            <td>* What does your character use to fight with?</td>
          </tr>
          <tr>
            <td>* What sort of clothing or armor does your character wear?</td>
          </tr>
          <tr>
            <td>
              * Does your character have any unique characteristics related to
              their class?
            </td>
          </tr>
          <tr>
            <td>
              * Does your character have any tools or implements specific to
              their class?
            </td>
          </tr>
        </table>

        <hr />

        <h5>In combat...</h5>
        <p>
          How does your character contribute in combat? Do they fight at range,
          or in close? Do they have particular tactics?
        </p>
        <h5>Socially...</h5>
        <p>
          Does your character have one of the four social Skills (Knowledge, 
          Bravery, Aura, Cunning)? Do they have a specific style when
          communicating?
        </p>
        <h5>While exploring...</h5>
        <p>
          How does your character handle obstacles? Can they scout or take
          watch?
        </p>
        </div>

